@{
  Layout= "~/Shared/_Layout.cshtml";
    Page.Title = "Bienvenido a Digi3D.NET";
    Page.head = "novedades Restitución";
    Page.keywords = "GIS SIG Fotogrametría Topografía Cartografía Ortofoto DTM MDT Aerotriangulación";
    Page.description="Digi21.net software para GIS SIG topografía cartografía y fotogrametría digital";    
}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8" />
        
    </head>
    <body>
    </br>
         <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/-1mzd2eRJEg/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=-1mzd2eRJEg"> <p class="subtitle">Aerotriangulacion automatica con Digi3D</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo podemos ver una primera versión de la medida de aerotrian...</p>
                          
                    
                    </div>
      </div>   

   <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i3.ytimg.com/vi/rVvX9OJIsz0/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=rVvX9OJIsz0"> <p class="subtitle">Control estereoscópico de archivos Lidar</p></a>
                    <div class="ContenidoIzquierda">
                       <p>Digi3D puede cargar archivos .las de una manera muy eficiente. </p>
                        <p>La visualización estereoscópica de puntos se realiza con una suavidad sin precedentes..</p>
                          
                    
                    </div>
      </div>   


        <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       
                    <img  width="320" height="180" src="http://usandodigi3d.digi21.net/wp-content/uploads/Digi3D-cargando-un-modelo-de-Pleyades-e1352894450289.jpg" />

                   </div>

                    <a href="http://usandodigi3d.digi21.net/?p=311"> <p class="subtitle"> Añadido soporte para el satélite Pléiades </p></a>
                    <div class="ContenidoIzquierda">
                     <p>Digi3D.NET incorpora la posibilidad de cargar imágenes estereoscópicas o monoscópicas del satélite Pléiades.</p> 
                      <p>Las imágenes procedentes de este satélite son imágenes en formato JPEG 2000 de 12 bits de profundidad de color que Digi3D.NET carga a toda velocidad.</p>
                      <p>El usuario puede indicar la proyección en la que desea trabajar, encargándose Digi3D.NET de realizar las correspondientes transformaciones en tiempo real.</p>     

                       
                    </div>
                </div>

    

    <div class="Novedad">
        <a href="http://usandodigi3d.digi21.net/?p=266"> <p class="subtitle"> Niveles automáticos. Ecualización del histograma </p></a>          
         
        <div class="ContenidoDerecha">
                       
            <img  width="320" height="180" src="http://usandodigi3d.digi21.net/wp-content/uploads/Sat%C3%A9liteConHistogramaEcualizado-e1352490007878.jpg" />

        </div>  
                  
        <div class="ContenidoIzquierda">
            <img  width="320" height="180" src="http://usandodigi3d.digi21.net/wp-content/uploads/Sat%C3%A9liteSinContraste-e1352485554248.jpg" />
            <p>Podríamos pensar que se puede mejorar la imagen cambiando el brillo, contraste y gama</p>
            <p>pero no conseguiríamos una imagen óptima, ya que la solución no consiste en mover el histograma o expandirlo por igual</p>
            <p>sino en ecualizarlo. Para ello, disponemos de la herramienta Niveles Automáticos del panel Propiedades de la imagen</p> 
            <p>que puedes hacer aparecer en el menú Ventana fotogramétrica/Propiedades de la imagen...</p>

                    
        </div>
  
    </div>

   

  <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                            <object id="Object8" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/70a8b1a9-53d2-4c2d-82f3-e9c16eff6d6b/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/70a8b1a9-53d2-4c2d-82f3-e9c16eff6d6b/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/70a8b1a9-53d2-4c2d-82f3-e9c16eff6d6b/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/70a8b1a9-53d2-4c2d-82f3-e9c16eff6d6b/Cambio%20automatico%20de%20modelos.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/70a8b1a9-53d2-4c2d-82f3-e9c16eff6d6b/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/70a8b1a9-53d2-4c2d-82f3-e9c16eff6d6b/embed"
                                height="180" width="320"></iframe>
                        </object>



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=51"> <p class="subtitle"> Cambio automático de modelos en Digi3D </p></a>
                    <div class="ContenidoIzquierda">
                      <p>Digi3D incorpora un botón en la barra de herramientas del panel acoplable cambio rápido de modelos que va a permitir que el programa realice un cambio automático de modelos cuando el operador se desplaza de un modelo a otro.
                            </p>

                            <p>Esta característica está muy optimizada para que el cambio sea muy suave, de modo que si el operador está digitalizando una línea, no va a notar ningún tirón ni se...
                            </p>       
                           

                       
                    </div>
                </div>

    

  <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                       <object id="Object9" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a167895f-2f73-4ca6-a342-d4ac0334fe89/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a167895f-2f73-4ca6-a342-d4ac0334fe89/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a167895f-2f73-4ca6-a342-d4ac0334fe89/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a167895f-2f73-4ca6-a342-d4ac0334fe89/Proyectos%20de%20archivos%20de%20dibujo.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a167895f-2f73-4ca6-a342-d4ac0334fe89/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a167895f-2f73-4ca6-a342-d4ac0334fe89/embed"
                                height="180" width="320"></iframe>
                        </object> 



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=53"> <p class="subtitle"> Proyectos de archivos de dibujo </p></a>
                    <div class="ContenidoIzquierda">
                       <p>
                                Digi3D permite almacenar configuraciones de archivos de dibujo (escala de visualización, incremento de registro, tabla de códigos, tabla de menú, archivo de configuración de teclas, …) para evitar que el usuario tenga que rellenar esa información cuando carga un archivo de dibujo.
                            </p>

                            <p>Esta característica es muy útil para evitar que el usuario se equivoque a la hora de cargar el archivo de dibujo, ya que el administrador habrá almacenado las distintas configuraciones en el ordenador antes de que el usuario se ponga a...
                            </p>      
                           

                       
                    </div>
                </div>

    

  

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                       <object id="Object13" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/cf8ba0ee-d34a-4d27-ad90-dde1a4fe2446/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/cf8ba0ee-d34a-4d27-ad90-dde1a4fe2446/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/cf8ba0ee-d34a-4d27-ad90-dde1a4fe2446/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/cf8ba0ee-d34a-4d27-ad90-dde1a4fe2446/Nuevos%20formatos%20de%20estereoscopia.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/cf8ba0ee-d34a-4d27-ad90-dde1a4fe2446/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/cf8ba0ee-d34a-4d27-ad90-dde1a4fe2446/embed"
                                height="180" width="320"></iframe>
                        </object>  



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=63"> <p class="subtitle"> Nuevos sistemas de visualización estereoscópica </p></a>
                    <div class="ContenidoIzquierda">
                      <p>
                                Digi3D puede mostrar estereoscopía en la mayoría de monitores estereoscópicos del mercado.</p>
                            <p>Es posible mostrar estereoscopía en monitores Planar 3D, en monitores con filtros tipo Stereographics Monitor ZScreen, en monitores con gafas activas como nVidia 3DVision, en monitores con gafa pasiva como Zalman, en monitores auto-estereoscópicos y en monitores normales con gafas de anaglifo...
                            </p>       
                           

                       
                    </div>
                </div>

    

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                     <object id="Object14" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/e5cd37b6-9b81-47dd-94fb-ea00c9366b5a/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/e5cd37b6-9b81-47dd-94fb-ea00c9366b5a/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/e5cd37b6-9b81-47dd-94fb-ea00c9366b5a/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/e5cd37b6-9b81-47dd-94fb-ea00c9366b5a/Panel%20de%20propiedades%20de%20imagen%20de%20Digi3D.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/e5cd37b6-9b81-47dd-94fb-ea00c9366b5a/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/e5cd37b6-9b81-47dd-94fb-ea00c9366b5a/embed"
                                height="180" width="320"></iframe>
                        </object>    



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=66"> <p class="subtitle"> Panel de propiedades de imagen </p></a>
                    <div class="ContenidoIzquierda">
                      <p>
                                Digi3D incorpora un panel acoplable en la ventana fotogramétrica que nos va a permitir modificar en tiempo real el brillo, contraste, gamma, escalado de color, transformaciones a tonos de gris y positivo negativo de las imágenes de modelo fotogramétrico.</p>
                            <p>Para activar este panel tan solo tenemos que mostrar el cuadro de diálogo de configuración del programa en el...
                            </p>       
                           

                       
                    </div>
                </div>

   

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                      <object id="Object16" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/931aa4a9-9fda-45ac-9474-f6f461206afd/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/931aa4a9-9fda-45ac-9474-f6f461206afd/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/931aa4a9-9fda-45ac-9474-f6f461206afd/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/931aa4a9-9fda-45ac-9474-f6f461206afd/Carga%20de%20archivos%20LAS%20en%20la%20ventana%20fotogrametrica.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/931aa4a9-9fda-45ac-9474-f6f461206afd/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/931aa4a9-9fda-45ac-9474-f6f461206afd/embed"
                                height="180" width="320"></iframe>
                        </object>  



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=71"> <p class="subtitle"> Visualizando archivos LIDAR (*.las) en la ventana fotogramétrica </p></a>
                    <div class="ContenidoIzquierda">
                        <p>Digi3D permite visualizar datos LIDAR en la ventana fotogramétrica sin consumir la memoria del sistema y a mucha velocidad.</p>
                            <p>En versiones anteriores no era posible cargar archivos .LAS y la única forma de comprobar los datos LIDAR era cargar los archivos .LAS en herramientas como MDTopX, generar una...
                            </p>      
                           

                       
                    </div>
                </div>

    

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                      <object id="Object17" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b6171280-b362-4f0b-877c-7e2122056c90/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b6171280-b362-4f0b-877c-7e2122056c90/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b6171280-b362-4f0b-877c-7e2122056c90/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b6171280-b362-4f0b-877c-7e2122056c90/Digi3D%20cargando%20archivo%20XML%20de%20Aerotri%20con%20auto%20calibracion%20y%20en%20distintos%20sistemas%20de%20coordenadas.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b6171280-b362-4f0b-877c-7e2122056c90/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b6171280-b362-4f0b-877c-7e2122056c90/embed"
                                height="180" width="320"></iframe>
                        </object>   



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=81"> <p class="subtitle"> Cargando aerotriangulaciones .ori.xml de Aerotri con auto-calibración de cámaras y en distintos sistemas de coordenadas en Digi3D </p></a>
                    <div class="ContenidoIzquierda">
                     <p>Las últimas versiones de Aerotri generan un archivo con extensión .ori.xml como resultado del cálculo de aerotriangulación.</p>
                            <p>Este archivo contiene las orientaciones de todas las fotos que forman parte del proyecto de aerotriangulación, así como la ruta a un archivo de auto-calibración (si es que hemos indicado al programa que, junto con la aerotriangulación, calcule nuevos parámetros de distorsión) y por último información referente al...
                            </p>        
                           

                       
                    </div>
                </div>

    

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                       <object id="Object18" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/378cc52c-83aa-425f-9508-9b80523728fd/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/378cc52c-83aa-425f-9508-9b80523728fd/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/378cc52c-83aa-425f-9508-9b80523728fd/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/378cc52c-83aa-425f-9508-9b80523728fd/Carga%20de%20archivos%20de%20calibracion%20de%20camaras%20generados%20por%20modulo%20Calibra%20de%20Aerotri.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/378cc52c-83aa-425f-9508-9b80523728fd/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/378cc52c-83aa-425f-9508-9b80523728fd/embed"
                                height="180" width="320"></iframe>
                        </object>   



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=87"> <p class="subtitle"> Trabajando con cámaras no métricas con Digi3D </p></a>
                    <div class="ContenidoIzquierda">
                            
                      <p>El módulo Calibra del software Aerotri permite calibrar cámaras, habilitando la posibilidad de utilizar cámaras no métricas para realizar procesos fotogramétricos.</p>
                            <p>Este módulo genera como resultado un archivo con extensión .int con el resultado de la calibración...</p>       

                       
                    </div>
                </div>

    

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                    <object id="Object19" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/FirstFrame.jpg&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=true&showstartscreen=true&tocdoc=float&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/Mostrar%20paso%20de%20curvas.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/embed"
                                height="180" width="320"></iframe>
                        </object>     



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=90"> <p class="subtitle"> Mostrando en tiempo real por donde pasar las curvas de nivel </p></a>
                    <div class="ContenidoIzquierda">
                       <p>Digi3D incorpora una nueva funcionalidad que nos va a ayudar a incrementar la producción a la hora de digitalizar curvas de nivel.</p>
                            <p>Consiste en una nueva orden que, al activarse, muestra tanto en la ventana fotogramétrica como en la ventana de dibujo una animación indicando por qué parte de una determinada línea debe cruzarse la...</p>
                           
                           

                       
                    </div>
                </div>

  <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/9vaHq2BI4Q0/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=9vaHq2BI4Q0"> <p class="subtitle">Control de cámara en la ventana fotogramétrica en Digi3D y comunicación con Google Earth</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a aprender las nuevas órdenes de control de cámara...</p>
                          
                    
                    </div>
      </div>   

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/yKznpOzZFLU/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=yKznpOzZFLU"> <p class="subtitle">Digi3D con cambio inmediato de modelos</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a comprobar la funcionalidad de cambio automático </p>
                          
                    
                    </div>
      </div>   

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i3.ytimg.com/vi/6EfxVjLU_KE/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=6EfxVjLU_KE"> <p class="subtitle">Rectificación epipolar</p></a>
                    <div class="ContenidoIzquierda">
                       <p>Digi3D incorpora una opción para calcular rectificaciones epipolar -al vuelo-. </p>
                          
                    
                    </div>
      </div>  

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/UY_cMTVLWjE/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=UY_cMTVLWjE"> <p class="subtitle">Rotaciones en la ventana fotogramétrica</p></a>
                    <div class="ContenidoIzquierda">
                       <p>Digi3D permite realizar rotaciones en la ventana fotogramétrica en tiempo real. </p>
                          
                    
                    </div>
      </div>  

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i3.ytimg.com/vi/BnQhjsPuMRg/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=BnQhjsPuMRg"> <p class="subtitle">Importando un proyecto de Inpho con calibración de cámara con grid</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a comprobar cómo cargar un modelo estereoscópico en formato Inpho con archivo de calibración de cámara mediante grid..</p>
                          
                    
                    </div>
      </div>  

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i4.ytimg.com/vi/GZxRaJOs7E0/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=GZxRaJOs7E0"> <p class="subtitle">Cambios en el importador de aerotriangulaciones</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a aprender a utilizar el nuevo importador de aerotriangulaciones y comprobar que ya no se generan archivos de relativa y absoluta..</p>
                          
                    
                    </div>
      </div>

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/apFevrJ10iU/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=apFevrJ10iU"> <p class="subtitle">Importación de modelos Blk de orima (cámara cónica)</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a comprobar lo sencillo que es cargar modelos aerotriangulados con Orima en formato .blk</p>
                          
                    
                    </div>
      </div>

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/YsiAYTb-nz4/default.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=YsiAYTb-nz4&feature=channel&list=UL"> <p class="subtitle">Archivos inerciales de AeroOffice EGM2008 EMG96</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a aprender a cargar archivos de inerciales proporcionados por la casa de vuelos y cómo transformar coordenadas Z elipsoidales en ortométricas...</p>
                          
                    
                    </div>
      </div>

    </body>
</html>
