@{
  Layout= "~/Shared/_Layout.cshtml";
    Page.Title = "Bienvenido a Digi3D.NET";
    Page.head = "Digi3D.NET";
    Page.keywords = "GIS SIG Fotogrametría Topografía Cartografía Ortofoto DTM MDT Aerotriangulación";
    Page.description="Digi21.net software para GIS SIG topografía cartografía y fotogrametría digital";   
}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8" />
         @RenderPage("~/Shared/_Desplegables.cshtml")
    </head>
    <body>
        <div id="contentIz">
        <div class="post">
								
								<p class="subtitle">Estación de fotogrametría digital</p>
                                   <div class="image-style">
                                    <img src="/images/Pumarin.jpg" alt="Digi3D.NET"  width="650" Height ="420"/>
                                 </div>
								<p>Digi3D es una completa Estación de Fotogrametría Digital que permite el registro de entidades geográficas a partir 
                                   de imágenes aéreas, cámaras cónicas analógicas y digitales Leica ADS40/80, Intergraph Digital Mapping Camera System, 
                                   Vexcel UltraCamX, de satélite (Ikonos, QuickBird,...) y procedentes de Fotogrametría terrestre.</p>

                                <br /><p> Digi3D es el standard en España, con más de 1000 licencias instaladas por todo el país y también en Portugal,Brasil, Perú, Colombia, India, Indonesia, Panamá, Chile ...</p>
                                
                                <br /><p>El interface es muy intuitivo, el usuario aprende rápidamente a manejarse con el programa, dando curvas de aprendizaje rápidas. El programa es fácilmente configurable.</p>
                                
                                                            
                                <br /><p>Más de 300 órdenes especialmente diseñadas para la restitución y edición cartográfica, estando adaptadas para cualquier tipo de escala.</p>
                                
                                <br /><p>Maneja de forma nativa ficheros de dibujo BINd, DGNv8, DWG, <strong>ShapeFile</strong>, sin necesidad de adquirir licencias de otros programas de CAD o GIS.</p>

                                <br />
                                
                                <div class="post" data-collapse="accordion">
                                <h3>Es una aplicación todo en uno, lo que permite ...</h3>
                                
                                <div class="parrafo1">
                                    <p>Medida automática de aerotriangulación por correlación de imágenes.</p>
                                    <p>Restitución fotogramétrica digital.</p>
                                    <p>Generación automática de modelos digitales del terreno por correlación.</p>
                                    <p>Conexión con bases de datos para información alfanumérica asociada a la gráfica.</p>
                                    <p>Generación automática de recintos en tiempo real.</p>
                                    <p>Controles de calidad geométricos, topológicos y de consistencia entre la información gráfica y alfanumérica.</p>
                                    <p>Realizar transformaciones espaciales de la cartografía.</p>
                                    <p>Generación de ortofotos.</p>
                                    <p>Programación en .net.</p>	
                                </div>
                                </div>

                                </br>
                             
                                  <img src="http://i1.ytimg.com/vi/llwozrdB8BE/mqdefault.jpg" alt="ShapeFile" width="480" Height ="300"  />
                             
            		            <a href="Digi3D.net.pdf" class="button">Descargar folleto en pdf >></a>
                                <a href="Digi3Denprofundidad.pdf" class="button">Digi3D en profundidad pdf</a>
                               
                                     
			                           
                                    
							</div>
        </div>

        <div id="contentDz">
                                  <section>
							
                                								
                                <a href="download/" class="button">Descargar Digi3D </a>
                                
							
                            

	    				</section>


						<section>
							<div>
                                <h2 >Presentamos la evolución de Digi3D.net</h2>
								<img src="/images/Digi3DLidar.png" width ="350" alt="Digi3D LIDAR" />
								 <p>Estamos orgullosos de presentarte Digi3D.net, la nueva versión de nuestra estación fotogramétrica, que incorpora muchas novedades.</p>
                                <p>Podrás disfrutar de versiones de 32 y 64 bits, realizar proyectos de cartografía 2.0 como MGCP, tiene acceso a base de datos nativo, multicodificación, conexión con servicios Web, Web Map Services, es completamente programable y ampliable, dispones de cursos de programación en vídeo,...</p>

                                <p>A continuación unas cuantas novedades pero hay muchas, muchas más...</p>
                                <a href="novedadesDigi3DFicheros/" class="button">Novedades Ficheros  </a>
                                <a href="novedadesDigi3DEdicionI/" class="button">Novedades Edición I  </a>
								<a href="novedadesDigi3DEdicionII/" class="button">Novedades Edición II  </a>
                                <a href="novedadesDigi3DRestitucion/" class="button">Novedades Restitución  </a>
							</div>
                           

	    				</section>

                        <section>
							<div>
                                <h2 >Digi3D MGCP</h2>
								<img src="/images/mgcp507.png" width="240" height="240" alt="icono MGCP"/>
								 <p>Existe una versión especial de Digi3D para el proyecto internacional MGCP.</p>
                             
                                
                                <a href="/MGCP/" class="button">Digi3D MGCP  </a>
                               
							</div>
                            

	    				</section>   
        </div>
    </body>
</html>
