@{
 Layout= "~/Shared/_Layout.cshtml";
    Page.Title = "Bienvenido a Digi21.net";
    Page.head = "Presupuesto";
    Page.keywords = "GIS SIG Fotogrametría Topografía Cartografía Ortofoto DTM MDT Aerotriangulación";
    Page.description="Digi21.net software para GIS SIG topografía cartografía y fotogrametría digital";    
}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8" />
        
    </head>
    <body>
       <div id="contentIz">
            <div class="post">
                            
                            <p class="subtitle"> Alquier de Licencias de Digi3D.NET por 31 días</p>
                            <div class="image-style">
                                <img src="/images/Pumarin.jpg" width="700"  alt="Digi3D.NE" />
                            </div>
                            <br />
                            <table  border="1" style=' width: 700px ; border: solid #4F81BD 1.0pt '>
                                <tr >
                                    <td   style='width: 130px; background: #4F81BD;padding: 0cm 5.4pt 0cm 5.4pt'>
                                        <p ><b><span style="color: white">Producto</span></b></p>
                                    </td>
                                    <td  style='width: 350px; background: #4F81BD; padding: 0cm 5.4pt 0cm 5.4pt'>
                                        <p ><b><span style=" color: white">Descripción</span></b></p>
                                    </td>
                                    <td  style='width: 70px;  background: #4F81BD; padding: 0cm 5.4pt 0cm 5.4pt'>
                                        <p > <b><span style=' color: white'>Precio</span></b></p>
                                    </td>
                                </tr>
                                <tr >
                                    <td  >
                                        <p >
                                            <span ><b><span style='color: #1F497D'>DigiNG</span></b></span><b><span
                                                    style='color: #1F497D'></span></b></p>
                                    </td>
                                    <td  >
                                        <p>
                                            <span style='color: #1F497D'>Solo edición, incluye todas las órdenes
                                                de edición de <span >Digi</span> + herramientas de análisis geométricos
                                                + transformaciones entre sistemas de coordenadas de referencia + acceso a base de
                                                datos + programación.</span></p>
                                    </td>
                                    <td  >
                                        <p >150€</p>
                                    </td>
                                </tr>
                                <tr >
                                    <td >
                                        <p >
                                            <b><span style='color: #1F497D'>Digi3D
                                                Básico</span></b></p>
                                    </td>
                                    <td  >
                                        <p >
                                            <span style='color: #1F497D'>Incluye el producto <span >
                                                    <b>DigiNG</b></span> + Sensor fotogramétrico para cámaras cónicas + sensor fotogramétrico
                                                para <span >ortofotos</span>, incluyendo cambio automático de modelos,
                                                transformaciones de imágenes al vuelo (<span>epipolares</span>, rotaciones)
                                                + soporte nativo de formatos de archivo de <span >aerotriangulación</span>
                                                de terceros (ya no es necesario importar <span >aerotriangulaciones</span>)</span></p>
                                    </td>
                                    <td >
                                        <p >200€</p>
                                    </td>
                                </tr>
                                <tr >
                                    <td  >
                                        <p >
                                            <b><span style='color: #1F497D'>Digi3D + Sensores</span></b></p>
                                    </td>
                                    <td >
                                        <p>
                                            <span style='color: #1F497D'>Incluye el producto <b>Digi3D Básico</b>
                                                más los sensores ADS, Satelital y Web <span >Map</span> Tile <span
                                                    >Service</span>.</span></p>
                                    </td>
                                    <td >
                                        <p >250€</p>
                                    </td>
                                </tr>
                                <tr >
                                    <td>
                                        <p >
                                            <b><span style='color: #1F497D'>Aerotriangulador automático
                                                </span></b></p>
                                    </td>
                                    <td  >
                                        <p >
                                            <span style='color: #1F497D'>Producto independiente para la medida automática de puntos de aerotriangulación. No incluye Digi3D (no es necesario).</span></p>
                                    </td>
                                    <td>
                                        <p> 500€</p>
                                    </td>
                                </tr>
                            </table>


                            <br />
                            <p>
                                <a href="Digi3D.net.pdf" class="button">Descargar folleto en pdf</a></p>
                        </div>
        </div>

        <div id="contentDz">
            <section>
							<div>
                                 <div class="post"><p class="subtitle">Venta de licencia de Digi3D.net</p></div>
                                <table>
                                    <tr>
                                        <td>DigiNG</td>
                                        <td><h2 >3.000€</h2></td>
                                    </tr>
                                     <tr>
                                        <td>Digi3D + Sensores </td>
                                        <td><h2 >12.000€</h2></td>
                                    </tr>
                                     <tr>
                                        <td>Aerotriangulador automático</td>
                                        <td><h2 >Solo disponible en planes de alquiler</h2></td>
                                    </tr>
                                </table>
                               
                              
								<a href="/digi3d/"><img src="/images/Pumarin.jpg" width="350" alt="Digi3D.NET" /></a>
								
								<p>Una completa estación de Fotogrametría Digital</p>
                                <p>Permite realizar restitución estereoscópica y monoscópica de imágenes captadas con cámaras métricas y no métricas.</p>
                                <p>Completa herramienta CAD con innumerables herramientas de dibujo para mapas, motor de topología, conexión con base de datos...</p>
							</div>
                            </br>
							<div>
                                <div class="post"><p class="subtitle">Venta de licencia de MDtopX</p></div>
                                 <table>
                                    <tr>
                                        <td>MDTopX Lite (MDTop)</td>
                                        <td><h2 >1.300€</h2></td>
                                    </tr>
                                     <tr>
                                        <td>MDTopX Civil (MDTop+Viales)</td>
                                        <td><h2 >1.800€</h2></td>
                                    </tr>
                                     <tr>
                                        <td>MDTopX (MDTop+VirtuaLand+Láser) </td>
                                        <td><h2 >3.500€</h2></td>
                                    </tr>
                                     <tr>
                                        <td>MDTopX Suite (MDTop+VirtuaLand+Láser+Viales) &nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td><h2 >4.000€</h2></td>
                                    </tr>
                                    
                                </table>
								<a href="/mdtop/"><img src="/images/pantalla_mdtopx_01.jpg" width="350" alt="MDTopX" /></a>
								<p> Herramienta para la creación/manipulación de Modelos Digitales del Terreno.</p>
							</div>
                             </br>
							<div>
                                <div class="post"><p class="subtitle">Venta de licencia de TopCal21</p></div>
                                 <table>
                                    <tr>
                                        <td>TopCal21&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td><h2 >1.200€</h2></td>
                                    </tr>
                                </table>
								<a href="/topcal21/"><img src="/images/topcal21.jpg" width="350" alt="Icono Topcal21" /></a>
								
								<p>Resuelva todos los problemas de cálculo generados en trabajos topográficos.</p>
							</div>
                             </br>

                             <div>
                                <div class="post"><p class="subtitle">Venta de licencia de Aerotri</p></div>
                                 <table>
                                    <tr>
                                        <td>Aerotri hasta 400 fotos &nbsp;&nbsp;&nbsp;</td>
                                        <td><h2 >3.500€</h2></td>
                                    </tr>
                               
                                    <tr>
                                        <td>Aerotri hasta 800 fotos &nbsp;&nbsp;&nbsp;</td>
                                        <td><h2 >4.000€</h2></td>
                                    </tr>
                                
                                    <tr>
                                        <td>Aerotri sin límite de fotos &nbsp;&nbsp;&nbsp;</td>
                                        <td><h2 >5.000€</h2></td>
                                    </tr>
                                </table>
                                 <a href="/aerotri/"><img src="/images/aerotrithumbnail.gif" width="350" alt="Icono Aerotri" /> </a>
				                <p>Ajuste de bloques por el método de haces con posibilidad
				                de datos GPS/INS y detección automática de errores groseros
				                mediante técnicas de estimación robusta. Sencillo e intuitivo. 
				                Incluye parámetros de autocalibración. Sin límite de fotogramas ni de puntos.</p>
								
							</div>
                             

						</section>
        </div> 
    </body>
</html>
