@{
  Layout= "~/Shared/_Layout.cshtml";
    Page.Title = "Bienvenido a TopCal21";
    Page.head = "TopCal21";
    Page.keywords = "Cálculos topográficos, Compensación de redes, geodésia ";
    Page.description="Digi21.net presenta la nueva versión de TopCal21";   
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
         @RenderPage("~/Shared/_Desplegables.cshtml")  
    </head>
    <body>
        <div id="contentIz">
                                 <div class="post">
								
								<p class="subtitle">Programa de Cálculos Topográficos</p>
                                <div class="image-style">
                                    <img src="/images/topcal21.jpg"  />
                                </div>
								 <p>Programa diseñado para resolver todos los problemas de cálculo en trabajos topográficos.</p>
                                 <p>TopCal 21 funciona bajo sistemas operativos Windows XP, Vista y 7</p>
                                 <p> Ahora funciona con proyectos de tal manera que podrá tener organizados sus 
                                    trabajos con subdirectorios y podrá manejar más de un archivo de puntos y 
                                    de observaciones a la vez. </p>
                                 <p> Dispone de una ventana nueva de visualización de datos a modo de hoja de cálculo.</p> 
                                 <p> Todas sus herramientas se presentan con cuadros de diálogos guiados que ayudarán al usuario en el cálculo.</p>
                                 <div class="image-style">	            

                                   <p> <a href="http://download.digi21.net/TopCal21_2007.msi" class="button">Descargar TopCal21&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;>&nbsp;></a></p>
					               <p> <a href="http://download.digi21.net/Manual%20de%20TopCal%2021.pdf" class="button">Descargar manual en pdf&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a></p>
							       <p> <a href="http://ayudaonline.digi21.net/index.html?Topcal21" class="button">Ver la Ayuda online de TopCal21</a></p>							                                                   
                                   <p> <a href="http://download.digi21.net/TopCal21_Demo.msi" class="button">Descargar versión de evaluación</a></p>
                            
                                </div>

                                 </br> 
                           </div>

                           <div class="post" data-collapse="accordion">
                                   <h3>TopCal21 dispone de las siguientes herramientas...</h3>

                                    <div class="parrafo1">
                                    <p>Cálculo de triangulaciones. </p>
                                    <p>Intersecciones directas. </p>
                                    <p>Intersecciones inversas. </p>
                                    <p>Cálculo de desorientaciones. </p>
                                    <p>Poligonales. </p>
                                    <p>Radiaciones. </p>
                                    <p>Cálculo de superficies.</p> 
                                    <p>Generación de dibujos con los puntos.</p> 
                                    <p>Transformación de coordenadas entre diferentes sistemas. </p>
                                    <p>Generación de reseñas. </p>
                                    <p>Cálculo de perfiles longitudinales y transversales.</p> 
                                    <p>Cálculo de volúmenes. </p>
                                    <p>Cálculo de desmontes y terraplenes.</p> 
                                    <p>Compensación por Mínimos Cuadrados de Redes topográficas </p>
                                    <p>Reconstrucción automática del croquis a partir de la codificación tomada en campo. </p>
                                    <p> Resolución de triángulos.</p>
                                    <p> Paso de coordenadas polares a rectangulares y viceversa.</p>
                                    <p> Intersección de rectas y círculos.</p>
                                    <p> Cálculo de distancias en proyección UTM o con coordenadas geográficas, etc...</p>
                                    </div>

                                </div>

 
                           <div class="post" data-collapse="accordion">

                                <h3>Histórico de TopCal21...</h3>
                                  
                                <div>
                                    
                                    <p>Posibilidad de releer los códigos de los archivos de puntos vinculados a un croquis</p>
                                    <p>Posibilidad de asociar textos de cota a un código de croquización</p>
                                    <p>Nuevos códigos de croquización para cerrar superficies, para continuar líneas 
                                         concluidas, para dar escala a un símbolo, para dar escala y orientación a un 
                                         símbolo o para dar escala en X e Y y orientación a un símbolo</p>
                                    <p>Posibilidad de importar / exportar los códigos de dibujo</p>
                                    <p>Posibilidad de cambiar los caracteres que actuan como separador al leer los códigos de croquización</p>
                                    <p>Posibilidad de ordenar los errores sistemáticos en la herramienta de Medias CD-CI</p>
                                    
                                    
                                     
                                    <p>Mejoras en la herramienta de importación de células de MicroStation</p>
                                    <p>Mejoras en la herramienta de edición de símbolos</p>
                                    
                                    
                                    
                                    <p>Mejoras en la herramienta de cálculo de superficies</p>
                                    <p>Mejoras en la herramienta de cálculo de transformaciones</p>
                                    
                                    
                                    
                                    <p>Posibilidad de cargar un archivo de células de MicroStation en la librería de símbolos</p>
                                    <p>Posibilidad de cargar códigos de croquización para orientar y dar escala a elementos puntuales</p>
                                    
                                    
                                    
                                    <p>Posibilidad de no reducir las distancias a la cuerda del elipsoide 
                                        en el caso de trabajar sin proyección cartográfica como sistema de 
                                        coordenadas</p>
                                     
                                    
                                    
                                     <p>Nueva herramienta para importar archivos DXF o DGN a un archivo de puntos y poder calcular los datos de replanteo</p>
                                    
                                    
                                    
                                    <p>Nueva herramienta para el cálculo de redes de nivelación geométrica 
        por mínimos cuadrados</p>
        <p>Nueva opción para poder definir el número de decimales que se desean 
        visualizar de los datos durante el cálculo y en los listados generados</p>
        <p>Posibilidad de incluir visuales con acimuts fijos, procedente de 
        giróscopo, en el ajuste mínimo-cuadrático</p>
      
                
                
        <p>Nueva herramienta para el cálculo de bisecciones mixtas, es decir, 
        sistemas con dos visuales de ángulo y distancia desde un punto 
        desconocido a dos conocidos</p>
        <p>Nueva herramienta para ajustar superficies a un determinado valor de 
        área, moviendo uno o varios puntos que la definen</p>
        <p>Mejoras en la herramienta para fundir vueltas de horizonte</p>
        <p>Mejoras en la herramienta para calcular cierres de triángulos</p>
      
                
                
        <p>Nueva herramienta para calcular los errores accidentales según el 
        tipo de instrumental y las características de observación</p>
        <p>Mejoras en la herramienta para calcular medias de visuales</p>
        <p>Mejoras en la herramienta para calcular medias de CD-CI</p>
        <p>Mejoras en la herramienta para calcular desorientaciones</p>
      
                
                
        <p>Mejoras en la herramienta Poligonal para analizar los errores 
        cometidos en la observación y las tolerancias permitidas según el 
        instrumental. Además, permite salvar el gráfico con las estaciones</p>
        <p>Mejoras en la herramienta Compensación por Mínimos Cuadrados, ya que 
        permite salvar un gráfico con los puntos que intervienen en el cálculo, 
        las observaciones utilizadas, las elipses de error planimétricas y las 
        precisiones altimétricas. Este gráfico es de gran utilidad para analizar 
        los errores transmitidos en una red topográfica</p>
      
               
                
        <p>Nueva herramienta para calcular nivelaciones geométricas a partir de 
        los archivos almacenados en los equialtímetros digitales</p>
        <p>Posibilidad de registrar líneas, cuadrados, rectángulos y símbolos 
        gráficamente, seleccionando puntos en el croquis</p>
      
                
                
        <p>Posibilidad de salvar los archivos de croquis y puntos a formato DGN 
        de MicroStation</p>
        <p>Posibilidad de salvar los archivos de croquis y puntos a DXF en 2 
        dimensiones</p>
        <p>Nueva herramienta para el cálculo de intersecciones inversas de 
        Hansen</p>
        <p>Nueva herramienta para renumerar visuales</p>
      
                
                
        <p>Nuevo formato de lectura/escritura de archivos de puntos y 
        observaciones ZAS de La Técnica</p>
        <p>Nueva herramienta para transformación entre sistemas de coordenadas 
        (por ejemplo, ED-50 a ETRS89 y viceversa) a partir de rejillas de tipo 
        NTV2</p>
      

                
        <p><b>Nueva versión 2007</b>. Requiere actualización desde la versión 
        1.</p>
      
                
                
        <p>Mejorada la herramienta para el cálculo de superficies</p>
      
      
      
        <p>Nueva opción para unidad angulares: sexagesimal en formato 
        pseudodecimal</p>
        <p>Nueva herramienta para la transformación entre diferentes unidades 
        angulares y lineales</p>
        <p>Posibilidad de realizar transformaciones afines</p>
        <p>Nuevo formato de exportación de puntos a Leica GSI</p>
        <p>Nueva herramienta para el registro de entidades rectangulares</p>
        <p>Nueva herramienta para el registro de entidades cuadradas</p>
        <p>Nueva herramienta para el registro de entidades circulares</p>
        <p>Nueva opción de importación de visuales en CI desde archivos de 
        Geodimeter</p>
        <p>Nueva herramienta para calcular entidades paralelas en el croquis</p>
        <p>Nueva herramienta para partir entidades en el croquis</p>
        <p>Nueva herramienta para juntar entidades en el croquis</p>
      
      
      
        <p>Posibilidad de leer la rueda del ratón para realizar zoom en la 
        ventana de croquis</p>
        <p>Nuevo importador de ficheros de estaciones topográficas PENTAX</p>
        <p>Posibilidad de calcular poligonales utilizando aparatos auto-orientables 
        (brújulas o aparatos con giróscopo)</p>
        <p>Corregido error en el listado de la compensación altimétrica</p>
        <p>Posibilidad de realizar todos los cálculos utilizando la proyección 
        cónica de Lambert con uno o dos paralelos standard</p>
        <p>Posibilidad de calcular distancias medidas con miras estadimétricas</p>
      
      
      
        <p>Posibilidad de calcular distancias en la poligonal con una única 
        distancia de tramos</p>
        <p>Nueva herramienta para invertir la selección en los documentos</p>
        <p>Posibilidad de listar y comprobar las visuales no listadas en el 
        cálculo MMCC</p>
        <p>Nuevas herramientas para la inserción de símbolos en el croquis, que 
        incluye una herramienta para la construcción de dichos símbolos</p>
        <p>Nueva herramienta para generar perfiles transversales por el código 
        de los puntos</p>
      
      
      
        <p>Mejoras en la generación de hojas en el croquis</p>
        <p>Corregido fallo en la elección del directorio de ficheros nuevos no 
        vinculados a proyectos</p>
      
      
      
        <p>Corregido pequeño fallo en la lectura de archivos GSI de Leica</p>
        <p>Corregido fallo al fundir vueltas de horizonte</p>
        <p>Añadida posibilidad de crear perfiles transversales desde archivos 
        ASCII</p>
      
      
      
        <p>Corregido problema cuando se introducía el cálculo del factor de 
        escala en MMCC con varios puntos fijos y sin distancias</p>
        <p>Nueva herramienta para transformar archivos con coordenadas 
        geográficas al archivo de puntos actual y viceversa</p>
      
      
      
        <p>Corregido error al crear un sistema de referencia nuevo desde el 
        cuadro de dialogo de propiedades de puntos o al crear un instrumental 
        nuevo desde el cuadro de dialogo de propiedades de visuales</p>
        <p>Mejoras en el cálculo de distancias reducidas</p>
      
      
      
        <p>Mejoras en el calculo de perfiles longitudinales</p>
      
      
      
        <p>Corregido problema al modificar archivos existentes</p>
      
      
      
        <p>Mejoras en la transformación UTM-Geográficas</p>
        <p>Posibilidad de transformar entre diferentes sistemas de referencia</p>
      
      
      
        <p>Mejoras en la generación de perfiles longitudinales</p>
        <p>Mejoras en el cálculo de poligonales cerradas</p>
        <p>Nueva herramienta para calcular medias de visuales realizadas varias 
        veces al mismo punto</p>
        <p>Se graba a disco la configuración de unidades de los diferentes 
        archivos</p>
        <p>Solucionado problema al calcular errores sistemáticos fuera de un 
        proyecto</p>
        <p>Solucionado problema al generar archivo HTML desde herramienta 
        Cierre de triángulos</p>
        <p>Posibilidad de salvar los parámetros de transformación a disco en la 
        herramienta Transformación de puntos</p>
        <p>Solucionado problema al salvar reseñas de puntos de apoyo</p>
        <p>Posibilidad de cargar los parámetros de una transformación desde 
        disco en la Transformación Helmert</p>
      
      
      
        <p>Corregido problema al actualizar y calcular visuales desde Generar 
        Libreta</p>
        <p>Posibilidad de deshacer después de calcular nuevos puntos o visuales</p>
        <p>Se muestra el factor de escala al calcular Poligonales, si éste es 
        utilizado</p>
        <p>Mejoras en el funcionamiento del cuadro de dialogo de códigos de 
        croquización</p>
        <p>Añadidos nuevos ejemplos</p>
      
      
      
        <p>Se muestra la longitud de la poligonal en poligonales colgadas</p>
        <p>Corregido problema en la visualización del valor de la convergencia 
        de meridianos en el paso de coordenadas UTM a geográficas</p>
        <p>Posibilidad de introducir factor de escala en el cálculo de 
        poligonales sin Sistema Proyectivo</p>
      
      
      
        <p>Corregido problema en la lectura de archivos Leica GSI</p>
        <p>Nueva herramienta mejorada para la impresión de archivos</p>
        <p>Posibilidad de añadir varias líneas a un perfil longitudinal</p>
        <p>Posibilidad de renumerar los puntos de un archivo</p>
        <p>En el cuadro de dialogo de paso de rectangulares a polares se 
        muestra también el incremento de coordenadas</p>
        <p>Corregido problema en el cálculo de distancias UTM con puntos sin 
        cota</p>
        <p>Nueva herramienta para renumerar archivos de puntos</p>
        <p>No se deselecciona el punto cuando se generan puntos desde el paso 
        de polares a rectangulares</p>
        <p>Nuevo importador para estaciones Topcon</p>
      
      
      
        <p>Arreglado problema al agregar archivos</p>
        <p>Nueva herramienta para configurar los archivos de salida HTML</p>
      
      
      
        <p>Arreglados problemas de traducción de archivos GSI de Leica</p>
      
      
      
        <p>Arreglado problema con la visualización de los menús en Windows NT y 
        98</p>
      
      
      
        <p>Nueva herramienta para transformar coordenadas geodésicas referidas 
        al elipsoide de Struve y el meridiano de Madrid a ED-50</p>
      
     
      
        <p>Posibilidad de introducir en la definición de archivos de puntos 
        sistemas de referencia diferentes y unidades diferentes</p>
        <p>Posibilidad de introducir en la definición de archivos de visuales 
        instrumentales diferentes y unidades diferentes</p>
        <p>Nueva herramienta de cálculo de poligonales alternas</p>
        <p>Posibilidad de calcular o no el factor de escala en las 
        transformaciones de puntos</p>
      
      
      
        <p>Resuelto problema de aparición de ángulos negativos al aplicar el 
        error de colimación o eclímetro</p>
        <p>Resuelto problema de actualización de &quot;Acciones deshacer&quot; en las 
        herramientas de &quot;Cálculos de puntos&quot;</p>
        <p>Resuelto caso especial en la intersección de círculos</p>
        <p>Ahora el programa no coge distancias en ninguna de sus herramientas 
        si no existe ángulos verticales</p>
        <p>No se radian de nuevo las estaciones en la herramienta Radiación</p>
        <p>Nuevas transformaciones 2D y 3D utilizando un centroide</p>
        <p>Nuevos listados de salida en la herramienta Poligonal y Radiación</p>
        <p>Importación de ficheros SDR33 y SDR2 </p>
          
      
      
        <p>Herramienta para eliminar la peor visual en el test de Baarda</p>
        <p>Herramienta para hacer &quot;deshacer&quot; y &quot;rehacer&quot; en los objetos</p>
        <p>Posibilidad de agregar hojas cartográficas en el croquis y al exportar puntos</p>
        <p>Arreglado problema en la generación del fichero de superficies</p>
     
               </div>

			
                            </div>      
        </div>

        <div id="contentDz"> 
                               <section>
                           <div class="post">
								
								<p class="subtitle">Instalación de TopCal21</p>
							</div>
                            
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>


						<section>
							<div>
                              
								<p>Paso 1.</p>
                                <p>Conecte la llave de protección HASP a un puerto USB de su equipo</p>
                                <p>Descargar e instalar el driver para la llave de protección HASP</p>
                                
                                <a href="http://download.digi21.net/HASPUserSetup.exe" class="button">Driver llaves HASP  </a>
                                
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>
                        <section>
							<div>
                               
								<p>Paso 2.</p>
                                <p>Descargar e instalar el programa InfoLlave</p>
                                
                                <a href="http://download.digi21.net/InfoLlave_2007.msi" class="button">Programa InfoLlave  </a>
                                
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>
                        <section>
							<div>
                               
								<p>Paso 3.</p>
                                <p>Descargar e instalar el programa TopCal21</p>
                                
                                <a href="http://download.digi21.net/TopCal21_2007.msi" class="button">Descargar TopCal21 </a>
                                
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section> 


                         <section>
							<div data-collapse="accordion">
                               
								<h3 >Instrucciones para la instalación...</h3>
                                <div>
                                <p>IMPORTANTE para poder instalar el driver de la llave HASP debe poseer permisos como administrador del equipo. En caso contrario contacte con la persona que posea esos permisos para proceder a la instalación del driver.</p>
                                 <img src="/images/HASP.PNG" alt="" />
                                <p>Después de descargar e instalar el driver de la llave de protección HASP deberá observar que al conectar la llave a un puerto USB se enciende en la misma un led de color rojo.</p>
                                <p>Ésto solo será necesario hacerlo en su equipo una vez.</p>
                                <br />
                                <p>Después de instalar el programa Infollave, que no requiere permisos como administrador, ejecútelo y busque con el botón adecuado la llave de red o local según sea su caso.</p>
                                 <img src="/images/Infollave.PNG" alt="imagen infollave" />
                                <p>Esta operación puede tardar unos segundos, después verá un semáforo en verde en cada uno de los programas que tenga su llave, al menos debe iluminarse en verde el de TopCal21.</p>
                                <p>Después haga click en el botón activar ordenador y le aparecerán unos códigos de activación.</p>
                                <p>Pongase en contacto con el servicio técnico de Digi21 mediante cualquiera de los medios que ve en la cabecera de esta página.</p>
                                <p>Cuando obtenga los códigos de respuesta introduzcalos y espere a que se le confirme que el ordenador se ha activado correctamente.</p>
                                <p>Ya puede utilizar Topcal21 sin ningún problema.</p>
                                <p>Puede activar tantos ordenadores como desee con el programa Infollave y la llave de protección. Por ejemplo puede activar un ordenador de sobremesa y otro portátil para trabajar fuera de la oficina o puede activar un ordenador en su oficina y otro u otros en su casa.</p>
                                <br />
                                <p>Por último si descargó Topcal21 y lo instaló ya está listo para utilizarlo</p>
                                <img src="/images/topcal21.jpg" alt="" />
                                <p>Visite nuestra página periódicamente y descarge nuevas versiones del programa para tener siempre la última versión. No es necesario que repita los pasos 1 y 2</p>
                                </div>
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>    
        </div>
    </body>
</html>
