@{
  Layout= "~/Shared/_Layout.cshtml";
    Page.Title = "Bienvenido a Digi3D.NET";
    Page.head = "novedades Edición I";
    Page.keywords = "GIS SIG Fotogrametría Topografía Cartografía Ortofoto DTM MDT Aerotriangulación";
    Page.description="Digi21.net software para GIS SIG topografía cartografía y fotogrametría digital";    
}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8" />
        
    </head>
    <body>
        </br>
           <div class="Novedad">
        <a href="http://usandodigi3d.digi21.net/?p=246"> <p class="subtitle"> Rellenos con texturas </p></a>          
         
        <div class="ContenidoDerecha">
                       
            <img  width="320" height="180" src="http://usandodigi3d.digi21.net/wp-content/uploads/SeleccionandoUnBitmapDeRelleno-150x150.png" />

        </div>  
                  
        <div class="ContenidoIzquierda">
            <img  width="320" height="180" src="http://usandodigi3d.digi21.net/wp-content/uploads/DigiNGMostrandoRellenoConTexturas-e1351793404909.png" />
            <p>DigiNG.NET permite que seleccionemos una textura como relleno en líneas cerradas, polígonos y topologías.</p>
            <p>Crear/comprar/localizar en internet la textura que deseas utilizar como fondo.</p>
            <p>Asegurarte de que el tamaño de esta es múltiplo de una potencia de 2, es decir 2,8,16,32,64,128,256,512,1024,…</p> 
            <p>Copiarla en tu directorio de símbolos.n...</p>

                    
        </div>
  
    </div>

   

    <div class="Novedad">
        <a href="http://usandodigi3d.digi21.net/?p=230"> <p class="subtitle"> Visualizar puntuales como una imagen </p></a>          
         
        <div class="ContenidoDerecha">
                       
            <img  width="320" height="180" src="http://usandodigi3d.digi21.net/wp-content/uploads/DigiNGMostrandoTexturasPuntuales-300x159.png" />

        </div>  
                  
        <div class="ContenidoIzquierda">
            <img  width="320" height="180" src="http://usandodigi3d.digi21.net/wp-content/uploads/VI-BE-Trees.jpg" />
            <p>DigiNG.NET nos permite seleccionar una imagen para representar un puntual.</p>
            <p>Para hacer que un puntual se represente con una imagen tenemos que seguir estos pasos:</p>
            <p>Copiar la imagen que queremos utilizar en el directorio de símbolos de DigiNG.NET (aquel que indicas en la pestaña Archivo de dibujo en el cuadro de diálogo Nuevo proyecto.</p> 
            <p>Crear un estilo en la tabla de códigos cuyo símbolo sea la imagen que nos interese.</p>
            <p>Indicar en el código en cuestión que el estilo a utilizar es el estilo que tiene seleccionada la imagen.</p>
            <p>Activar el patrón.</p>       
        </div>
  
    </div>

 
		
		<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <object id="scPlayer" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/811abde3-7775-4441-a039-82b7906939fe/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/811abde3-7775-4441-a039-82b7906939fe/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/811abde3-7775-4441-a039-82b7906939fe/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/811abde3-7775-4441-a039-82b7906939fe/Multicodificacion.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/811abde3-7775-4441-a039-82b7906939fe/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/811abde3-7775-4441-a039-82b7906939fe/embed"
                                height="180" width="320"></iframe>
                        </object> 
                   </div>

                         <a href="http://usandodigi3d.digi21.net/?p=30">
                             <p class="subtitle">Multicodificación en Digi3D</p>
                            </a>
                            <div class="ContenidoIzquierda">
                        
                            <p>Una de las características más importantes
                            en Digi3D.net es que se ha mejorado el trabajo con entidades con múltiples
                            códigos.</p>
                            
                            <p>En esta versión se ha sustituido la barra de herramientas de selección
                            de código por un panel acoplable que permite seleccionar múltiples códigos.</p> 
                            <p>Digitalizar una línea con múltiples códigos es tan sencillo como pulsar el botón de selección
                            de códigos y seleccionar tantos... códigos como quieras.</p> 
                            <p>Al aceptar el cuadro de diálogo de selección de códigos, estos aparecerán en la ventana de códigos activos y a partir
                            de ahora todas las entidades que se registren tendrán asociados...</p>
                    </div>
                </div>
    


     <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                        <object id="Object1" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b890fbc0-6349-4aa0-b3c0-ed809c196183/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b890fbc0-6349-4aa0-b3c0-ed809c196183/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b890fbc0-6349-4aa0-b3c0-ed809c196183/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b890fbc0-6349-4aa0-b3c0-ed809c196183/Multiples%20modos%20de%20busqueda.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b890fbc0-6349-4aa0-b3c0-ed809c196183/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/b890fbc0-6349-4aa0-b3c0-ed809c196183/embed"
                                height="180" width="320"></iframe>
                        </object>
                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=3"> <p class="subtitle"> Múltiples modos de búsqueda en Digi3D </p></a>
                    <div class="ContenidoIzquierda">
                            
                            <p> Digi3D permite seleccionar múltiples modos de búsqueda simultáneamente mediante
                                una modificación que se ha realizado a la orden modob que ahora admite que le pasemos
                                varios parámetros.</p>
                             <p>   Gracias a esta nueva funcionalidad se puede incrementar la productividad
                                ya que no será necesario cambiar los modos de búsqueda en función del tipo de tentativo
                                a realizar.</p>
                            <p> El cuadro de opciones de modo de búsqueda mostrará los distintos modos de búsqueda
                                activos (por su orden) si el usuario ha seleccionado más de un modo de búsqueda.</p>
                             <p>   Mi recomendación es que si vas a utilizar esta nueva funcionalidad, selecciones
                                los modos de búsqueda...</p>
                       
                    </div>
                </div>

    

                <div class="Novedad">
                     <div class="ContenidoDerecha">
                       <object id="Object2" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/79a40a9f-527d-4b30-ab89-46149288a0ed/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/79a40a9f-527d-4b30-ab89-46149288a0ed/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/79a40a9f-527d-4b30-ab89-46149288a0ed/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/79a40a9f-527d-4b30-ab89-46149288a0ed/Seleccion%20multiple.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/79a40a9f-527d-4b30-ab89-46149288a0ed/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/79a40a9f-527d-4b30-ab89-46149288a0ed/embed"
                                height="180" width="320"></iframe>
                        </object>
                    </div>
                     <a href="http://usandodigi3d.digi21.net/?p=33"><p class="subtitle">Selección Múltiple</p></a>
                    <div class="ContenidoIzquierda">
                       
                            <p>
                                Digi3D incorpora una nueva funcionalidad que nos va a permitir seleccionar múltiples entidades y enviar esa selección a una orden que está esperando que se seleccione una o varias entidades para realizar alguna operación con las entidades seleccionadas.</p>
                            <p>
                                Se han actualizado todas las órdenes que solicitaban al usuario que se seleccione una entidad para que sean compatibles con esta funcionalidad, y ahora muchas de ellas permiten trabajar con...
                            </p>
                        
                    </div>
                </div>



    <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                       <object id="Object5" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ff971f4f-ace0-41cc-9b91-fb3e7c2c2ca3/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ff971f4f-ace0-41cc-9b91-fb3e7c2c2ca3/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ff971f4f-ace0-41cc-9b91-fb3e7c2c2ca3/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ff971f4f-ace0-41cc-9b91-fb3e7c2c2ca3/Panel%20visualizacion%20de%20codigos.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ff971f4f-ace0-41cc-9b91-fb3e7c2c2ca3/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ff971f4f-ace0-41cc-9b91-fb3e7c2c2ca3/embed"
                                height="180" width="320"></iframe>
                        </object>  



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=42"> <p class="subtitle"> Panel Visualización de códigos </p></a>
                    <div class="ContenidoIzquierda">
                       <p>
                                Digi3D incorpora un panel acoplable nuevo que nos va a permitir activar/desactivar la visualización de códigos tanto en la ventana de dibujo como en la ventana fotogramétrica por archivo de dibujo.
                            </p>

                            <p>Esto quiere decir que podemos indicarle a Digi3D 2011 que no visualice un determinado código para un...
                            </p>      
                           

                       
                    </div>
                </div>

   


    <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                        <object id="Object6" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ace96b06-c8b2-4586-8476-13b594592d32/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ace96b06-c8b2-4586-8476-13b594592d32/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ace96b06-c8b2-4586-8476-13b594592d32/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ace96b06-c8b2-4586-8476-13b594592d32/Renombrar%20codigos%20desconocidos.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ace96b06-c8b2-4586-8476-13b594592d32/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/ace96b06-c8b2-4586-8476-13b594592d32/embed"
                                height="180" width="320"></iframe>
                        </object>    



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=46"> <p class="subtitle"> Renombrando códigos desconocido </p></a>
                    <div class="ContenidoIzquierda">
                       <p>
                                Digi3D 2011 incorpora una herramienta nueva que nos va a ayudar a renombrar los códigos desconocidos del archivo de dibujo cargado.
                            </p>

                            <p>En ocasiones cargamos archivos de dibujo con entidades con código desconocido. Muchas veces es difícil renombrarlos porque en su nombre puede haber espacios, lo que requiere utilizar...
                            </p>      
                           

                       
                    </div>
                </div>

    
      

  <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                        <object id="Object10" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a051fc6d-aa98-4d1f-a101-d9a80fe29c7f/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a051fc6d-aa98-4d1f-a101-d9a80fe29c7f/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a051fc6d-aa98-4d1f-a101-d9a80fe29c7f/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a051fc6d-aa98-4d1f-a101-d9a80fe29c7f/Entidades%20virtuales.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a051fc6d-aa98-4d1f-a101-d9a80fe29c7f/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/a051fc6d-aa98-4d1f-a101-d9a80fe29c7f/embed"
                                height="180" width="320"></iframe>
                        </object> 



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=56"> <p class="subtitle"> Entidades Virtuales </p></a>
                    <div class="ContenidoIzquierda">
                       <p>
                                En ocasiones nos interesa digitalizar entidades que no se almacenen en el archivo de dibujo, y que además no sean tentativables.
                            </p>

                            <p>Digi3D incorpora una Novedad en las tablas de códigos que consiste en poder marcar un código como código de tipo Virtual, de modo que ahora...
                            </p      
                           

                       
                    </div>
                </div>

    

  <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                        <object id="Object11" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/13d17360-cc29-4a3d-bd1e-806adf785929/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/13d17360-cc29-4a3d-bd1e-806adf785929/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/13d17360-cc29-4a3d-bd1e-806adf785929/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/13d17360-cc29-4a3d-bd1e-806adf785929/Digitalizando%20entidades%20en%20modo%20continuo.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/13d17360-cc29-4a3d-bd1e-806adf785929/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/13d17360-cc29-4a3d-bd1e-806adf785929/embed"
                                height="180" width="320"></iframe>
                        </object>   



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=58"> <p class="subtitle"> Digitalizando entidades en modo contínuo </p></a>
                    <div class="ContenidoIzquierda">
                       <p>Digi3D incorpora una nueva funcionalidad que nos permite indicar que las geometrías que se registren con un determinado código se van a registrar siempre en modo contínuo.
                            </p>

                            <p>Si indicamos que las entidades de un código se regitrarán siempre en modo contínuo, ya no será necesario mantener el...</p>      
                           

                       
                    </div>
                </div>

    

  <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                        <object id="Object12" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0ba8cb5a-5067-484c-acf5-84a8a2a13bb7/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0ba8cb5a-5067-484c-acf5-84a8a2a13bb7/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0ba8cb5a-5067-484c-acf5-84a8a2a13bb7/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0ba8cb5a-5067-484c-acf5-84a8a2a13bb7/Asignando%20multiples%20ordenes%20a%20una%20pulsacion%20de%20tecla.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0ba8cb5a-5067-484c-acf5-84a8a2a13bb7/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0ba8cb5a-5067-484c-acf5-84a8a2a13bb7/embed"
                                height="180" width="320"></iframe>
                        </object> 



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=60"> <p class="subtitle"> Asignando múltiples órdenes a una pulsación de tecla </p></a>
                    <div class="ContenidoIzquierda">
                      <p>
                                En Digi3D se ha modificado el formato de los archivos de configuración de teclas.</p>
                            <p> El nuevo formato tiene múltiples ventajas:</p>
                                <ul>
                                    <li>Es Imprimible.</li>
                                    <li>Se puede asignar una descripción a una tecla.</li>
                                    <li>Se pueden asignar múltiples órdenes a una tecla, para evitar tener que crear archivos
                                        de macroinstrucciones.</li>
                                </ul>
                                   
                           

                       
                    </div>
                </div>

  

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                     <object id="Object15" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d858f9d-d187-47fb-b2b6-b09c169a37ad/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d858f9d-d187-47fb-b2b6-b09c169a37ad/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d858f9d-d187-47fb-b2b6-b09c169a37ad/FirstFrame.jpg&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d858f9d-d187-47fb-b2b6-b09c169a37ad/Busqueda%20de%20entidades.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d858f9d-d187-47fb-b2b6-b09c169a37ad/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d858f9d-d187-47fb-b2b6-b09c169a37ad/embed"
                                height="180" width="320"></iframe>
                        </object>   



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=68"> <p class="subtitle"> Búsqueda de entidades </p></a>
                    <div class="ContenidoIzquierda">
                      <p>
                                Digi3D incorpora un nuevo panel acoplable que nos va a permitir realizar búsqueda de entidades por un determinado criterio.
 La instalación por defecto del programa incorpora una serie de criterios de búsqueda como Todas las entidades, Todos los puntos, Todos los textos, Textos por código y por contenido, …</p>
                            <p>Antes de ordenarle al panel que realice la búsqueda tenemos que...
                            </p>        
                           

                       
                    </div>
                </div>

    </body>
</html>
