@{
 Layout= "~/Shared/_Layout.cshtml";
    Page.Title = "Bienvenido a Digi3D MGCP";
    Page.head = "Digi3D MGCP";
    Page.keywords = "Multinational Geospatial Co-production Program (MGCP)";
    Page.description = "Digi21.net presenta su versión de Digi3D para MGCP";     
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        
    </head>
    <body>
       <div id="contentIz">
            <div class="post">
                <p class="subtitle">Tutoriales para la digitalización de M.G.C.P. con Digi3D 2010</p>
            </div>
            <div class="post">	


 
	<table align="center" border="0">
		
		
		<tr>
			<!-- Cuerpo principal -->
			<td class="cuerpoPrincipal">
			
			
				
				
				<ul>
					<li><a href="1/" target="_blank">Presentación de la interface de usuario de DigiNG ...</a>
					<p>En este vídeo te mostramos las ventanas que más vas a utilizar mientras digitalizas M.G.C.P.
Este vídeo no pretende enseñarte los conceptos de M.G.C.P., únicamente te muestra la función de cada ventana. No te preocupes si no 
entiendes algo, simplemente te queremos presentar el programa y las ventanas que hemos creado para M.G.C.P.
Aunque seas un experto en Digi, no puedes saltarte el vídeo, porque la mayoría de ventanas son nuevas.</p>
					</li>
					
<li><a href="2/" target="_blank">Geometría duplicada vs Modelo de Alambre ...</a>
<p>En este vídeo comparamos cómo digitalizan M.G.C.P. los usuarios de otros programas y cómo se hace con DigiNG.<br />
Vamos a digitalizar el mismo modelo tres veces, primero con geometría duplicada, luego con geometría de alambre y por último con geometría de alambre rápido.
Descubrirás que, a pesar de que DigiNG nos va a ayudar con herramientas que copian geometrías, es muy fácil cometer errores cuando digitalizemos el modelo 
de geometría duplicada. Estos errores luego son muy difíciles de corregir en el proceso de edición, y desencadenan en una pérdida muy importante en la
productividad. Con DigiNG vamos a trabajar con un modelo de alambre, con el cual es imposible cometer los errores que se comenten con modelos de geometría duplicada, y aprenderás que en digiNG,
transformar tu modelo de alambre en uno de geometría duplicada y viceversa es tan sencillo como apretar un botón.</p></li>

<li><a href="3/" target="_blank">Multi-codificación ...</a>
<p>En este vídeo te vamos a enseñar cómo modificar/añadir/eliminar códigos a entidades. En DigiNG las geometrías pueden tener múltiples códigos. Verás lo sencillo que es añadir, modificar, eliminar códigos a cualquier geometría de nuestro archivo de dibujo.</p></li>

<li><a href="4" target="_blank">Atributos de Base de Datos ...</a>
<p>Este es el vídeo más complicado. Vamos a aprender a trabajar con bases de datos. DigiNG tiene muchas herramientas para trabajar con atributos de bases de datos. Vamos a aprender a manejar las necesarias para digitalizar.</p></li>
					
<li><a href="5" target="_blank">Landcover Area Features (Usos del suelo) ...</a>
<p>Vamos a aprender mucho sobre topologías en este vídeo, ya que las Landcover Area Features (L.A.F.) se forman con topologías. Te vamos a presentar todas las herramientas de DigiNG para formar topologías, detectar errores topológicos, detectar errores en el modelo de datos de M.G.C.P., localizar y copiar centroides, ...</p></li>
				
<li><a href="6" target="_blank">Resumen de codificación ...</a>
<p>En este vídeo vamos a aprender que DigiNG tiene programado el modelo de datos de M.G.C.P.<br />Gracias a esto, no tendremos memorizar ni perder el tiempo buscando en los documentod de M.G.C.P. para saber si una determinada entidad se tiene que registrar como línea, área, punto, o si es tan pequeña que no es necesario registrarla. ¡DigiNG seleccionará el código por nosotros!</p></li>

				</ul>
				

			</td>
			
			
			
		</tr>
		
		<tr>
		</tr>
	</table>




</div>
       </div> 

       <div id="contentDz">
           <section>
							<div>
                                <h2 >Digi3D MGCP</h2>
								<img src="/images/mgcp507.png" width="240" height="240"/>
								 <p>Existe una versión especial de Digi3D para el proyecto internacional MGCP.</p>
                             
                                
                                <a href="/MGCP/MGCP.pdf" class="button">Digi3D MGCP Manual </a>
                                <a href="/MGCP/MGCP.ppt" class="button">Digi3D MGCP ppt &nbsp;&nbsp;&nbsp;&nbsp></a>
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>

       </div>
    </body>
</html>
