@{
  Layout= "~/Shared/_Layout.cshtml";
    Page.Title = "Bienvenido a Digi3D.NET";
    Page.head = "Descargas Digi3D";
    Page.keywords = "GIS SIG Fotogrametría Topografía Cartografía Ortofoto DTM MDT Aerotriangulación";
    Page.description="Digi21.net software para GIS SIG topografía cartografía y fotogrametría digital";    
}

<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8" />
        @RenderPage("~/Shared/_Desplegables.cshtml")
    </head>
    <body>
        <div id="contentIz">
                        <div class="post">
                            <p class="subtitle"> Descargas Digi3D.NET</p>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Prerequisitos para la Instalación de Digi3D.NET (32 bits)...</h3>
                            <div>
                                <section>
                         <p>Digi3D.NET edición 32 bits es compatible con los siguientes sistemas operativos:</p>
                            <div class="parrafo1">
                                <p>Windows XP SP3</p>
                                <p>Windows 7 x32</p>
                                <p>Windows 7 x32 SP1</p>
                                <p>Windows 7 x64</p>
                                <p>Windows 7 x64 SP1</p>
                            
                    		</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>
                                <p>
                                    Instala los siguientes productos de Microsoft para poder ejecutar Digi3D.NET edición de 32
                                    bits:</p>
                                    <br />
                                <section>
							<div>
                               <p><strong>Prerequisito I:</strong> Microsoft Visual C++ 2010 SP1 Redistributable Package (x86)</p>
                                
                                <a href="http://www.microsoft.com/es-es/download/details.aspx?id=8328" class="button">Microsoft Visual C++ 2010 SP1  </a>
                                
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>
                                <section>
							<div>
                               <p><strong>Prerequisito II:</strong> Microsoft .NET Framework 4.0</p>
                              
                                <a href="http://www.microsoft.com/downloads/es-es/details.aspx?FamilyID=9cfb2d51-5ff4-4491-b0e5-b386f32c0992" class="button">Microsoft .NET Framework 4.0  </a>
                                
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>
                                <section>
							<div>
                               <p><strong>Prerequisito III:</strong>Microsoft SQL Server Compact 3.5 Service Pack 2</p>
                            
                                <a href="http://www.microsoft.com/es-es/download/details.aspx?id=5783" class="button">Microsoft SQL Server Compact  </a>
                                
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>
                            </div>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Prerequisitos para la Instalación de Digi3D.NET (64 bits)...</h3>
                            <div>
                          <section>
                         <p>Digi3D.NET edición de 64 bits es compatible con los siguientes sistemas operativos:</p>
                            <div class="parrafo1">
                                <p>Windows 7 x64</p>
                                <p>Windows 7 x64 SP1</p>
                            
                    		</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>
                                <p>
                                    Instala los siguentes productos de Microsoft para poder ejecutar Digi3D.NET edición de 64
                                    bits:</p>
                                    <br />
                                <section>
							<div>
                               <p><strong>Prerequisito I:</strong> Microsoft Visual C++ 2010 SP1 Redistributable Package (x64)</p>
                                
                                <a href="http://www.microsoft.com/es-es/download/details.aspx?id=13523" class="button">Microsoft Visual C++ 2010 SP1  </a>
                                
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>
                                <section>
							<div>
                               <p><strong>Prerequisito II:</strong> Microsoft .NET Framework 4.0</p>
                            
                                <a href="http://www.microsoft.com/downloads/es-es/details.aspx?FamilyID=9cfb2d51-5ff4-4491-b0e5-b386f32c0992" class="button">Microsoft .NET Framework 4.0  </a>
                                
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>
                                <section>
							<div>
                               <p><strong>Prerequisito III:</strong>Microsoft SQL Server Compact 3.5 Service Pack 2</p>
                            
                                <a href="http://www.microsoft.com/es-es/download/details.aspx?id=5783" class="button">Microsoft SQL Server Compact  </a>
                                <p>NOTA de instalación: Este instalador incluye dos versiones del programa 32 y 64 bits.</p>
                                <p>Deberás instalar primero la versión de 32 bits y después la de 64 bits.</p>
							</div>
                            <div class="5grid-layout">&nbsp;</div>

	    				</section>
 
                            </div>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Actualización de tu llave antigua para Digi3D.NET ...</h3>
                            <div>
                                <p>Esta sección solo te interesará si ya tienes una llave de Digi3D 2007 y quieres actualizarla para utilizar Digi3D.NET</p>
                                <p>
                                    <strong>Digi3D.NET</strong> implementa un nuevo sistema de protección denominado
                                    <strong>Hasp SRM</strong>.</p>
                                <p>
                                    Este sistema es compatible con tu llave de protección Hasp HL, pero será necesario
                                    realizar una serie de pasos antes de poder ejecutar Digi3D.NET</p>
                                <p>
                                    Descarga e instala <a href="http://sentinelcustomer.safenet-inc.com/DownloadNotice.aspx?dID=8589947119"
                                        target="_blank">Sentinel HASP Run-time and Drivers setup</a> (14.8MB). Para
                                    finalizar la descarga, pulsa el botón titulado <em>I Accept</em> al final de esa
                                    página.</p>
                                <p>
                                    Descarga y ejecuta <a href="ftp://ftp.aladdin.com/pub/hasp/Sentinel_HASP/Firmware_Update/HASP_HL_Firmware_Update.zip"
                                        target="_blank">HASP HL Firmware Update Utility (EXE file)</a>.</p>
                                <p>
                                    Este programa va a actualizar el firmware de tu llave de protección a la versión
                                    3.25 para que sea compatible con Hasp SRM.</p>
                                <p>
                                    El proceso es muy sencillo y seguro, tu llave de protección no perderá las licencias
                                    que tiene, símplemente se va a multiplicar por dos la memoria interna de ésta y
                                    va a prepararla para que podamos añadir las licencias de <strong>Digi3D.NET</strong>.</p>
                                <p>
                                    Si la versión del firmware de tu llave de protección ya es 3.25, la aplicación no
                                    hará nada porque sencillamente no localizará la llave, ya que ésta únicamente localiza
                                    llaves con firmware antiguos.</p>
                                <p>
                                    Al ejecutar la aplicación verás la siguiente pantalla:</p>
                                <p>
                                    <img src="/images/ActualizarFirmware.PNG" /></p>
                                <p>
                                    Pulsa el botón titulado "Apply Update". El proceso puede durar unos 2 a 5 minutos.
                                    <strong>No quites la llave de protección del ordenador</strong></p>
                                <p>
                                    Si el firmware de tu llave de protección ya es 3.25, verás la siguiente pantalla:</p>
                                <p>
                                    <img src="/images/LaLlaveYaEstaActualizada.PNG" /></p>
                                <p>
                                    Si por el contrario el firmware de tu llave de protección es anterior, verás la
                                    siguiente pantalla:
                                </p>
                                <p>
                                    <img src="/images/AplicandoUpdate.PNG" /></p>
                                <p>
                                    ...y por último...</p>
                                <p>
                                    <img src="/images/UpdateFinalizado.PNG" /></p>
                                <p>
                                    Descarga y ejecuta <a href="http://download.digi21.net/ActualizarLlaveSRM.exe" target="_blank">
                                        ActualizarLlaveSRM.exe</a>.</p>
                                <p>
                                    Con este programa vamos a generar un archivo denominado "client to vendor" (con
                                    extensión <em>.c2v</em>) que tendrás que enviar a la dirección de correo electrónico:
                                    <span>licencias<img style="display: inline" src="/images/aticon.gif" alt="Icono de arroba" />digi21.net</span>.</p>
                                <p>
                                    Envia el archivo (.c2v) junto con la siguiente información:</p>
                                <p class="parrafo1">
                                    Nombre de la empresa</p>
                                <p class="parrafo1">
                                    C.I.F.</p>
                                <p class="parrafo1">
                                    Dirección</p>
                                <p class="parrafo1">
                                    Código postal</p>
                                <p class="parrafo1">
                                    Persona de contacto</p>
                                <p class="parrafo1">
                                    Teléfono</p>
                                <p class="parrafo1">
                                    Correo electrónico</p>
                                <p>
                                    Espera a que te enviemos la respuesta.</p>
                                <p>
                                    Ejecuta un explorador de internet y visita la siguiente dirección: <a href="http://localhost:1947"
                                        target="_blank">http://localhost:1947</a></p>
                                <p>
                                    Ahí verás tu página de administración de licencias.</p>
                                <p>
                                    <img src="/images/AdministracionDeLicencias.PNG" width="500" height="400" /></p>
                                <p>
                                    Haz clic en la opción <i>Update/Attach</i> y verás la página de actualización de
                                    licencias de protección.</p>
                                <p>
                                    <img src="/images/ActualizacionDeLicenciasDeProteccion.PNG" width="500" height="400" /></p>
                                <p>
                                    Pulsa el botón <i>Browse...</i> y localiza el archivo con extensión <i>.v2c</i>
                                    que te habré enviado.</p>
                                <p>
                                    Pulsa el botón <i>Apply File</i> para aplicar la actualización. A partir de este
                                    momento puedes comenzar a utilizar <strong>Digi3D.NET</strong>.</p>
                                <p>
                                    Si te interesa ver las licencias de protección que tienes, puedes hacer clic en
                                    la opción <i>HASP Keys</i> y verás una página con tu llave de protección.</p>
                                <p>
                                    <img src="/images/TusLlavesDeProteccion.PNG" width="500" height="400" /></p>
                                <p>
                                    Haz clic en el botón titulado <i>Features</i> y podrás comprobar tus licencias.</p>
                                <p>
                                    Has terminado la primera parte: Preparación de tu llave de protección para trabajar
                                    con <strong>Digi3D.NET</strong>. Ahora solo quedan dos partes: Instalar <strong>Digi3D.NET</strong>
                                    y crear los archivos de licencia. Espera instrucciones por correo electrónico.</p>
                            </div>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Primeros pasos para la migración de versiones anteriores de Digi3D ...</h3>
                            <div>
                                <p>
                                    Si eres usuario de versiones anteriores de Digi3D, aquí encontrarás información
                                    de gran utilidad con respecto a los cambios que nos hemos viso obligados a realizar
                                    en esta versión.</p>
                                <p>
                                    Hemos intentado mantener lo máximo posible compatibilidad con versiones anteriores
                                    pero no nos ha quedado más remedio que cambiar algunas cosas, algunas motivados
                                    por cambios en las políticas de seguridad de Windows 7 y Windows 8, otras que implicaban
                                    modernizar el formato de algunos tipos de archivo
                                </p>
                                <br />
                                <ol>
                                    <li>
                                        <p>
                                            <strong>Configuración para tarjetas gráficas antiguas</strong></p>
                                        <p>
                                            Digi3D.NET ajusta los niveles de brillo/contraste/gamma mediante Shading Languaje
                                            (ejecutando programas en la GPU en vez de la CPU).</p>
                                        <p>
                                            Si tu tarjeta gráfica es antigua (Quadro FX 1400, Quadro FX 1500, Quadro FX 3450/4000),
                                            esta no incorpora Shading Languaje, y al cargar un modelo en la ventana fotogramétrica
                                            la imagen se moverá a tirones.
                                        </p>
                                        <p>
                                            En este caso, tienes que indicarle a Digi3D.NET que las operaciones de brillo y
                                            contraste se deben realizar por software en la opción: Método para brillo/contraste
                                            en la sección Estereoscopía del cuadro de diálogo Configuración.</p>
                                        <br />
                                        <p>
                                            <img src="/images/configurartarjetasgraficasantiguas.png" /></p>
                                        <br />
                                    </li>
                                    <li>
                                        <p>
                                            <strong>Ubicación de los directorios de tablas.</strong></p>
                                        <p>
                                            Los instaladores de versiones anteriores de Digi3D, al ser anteriores a Windows
                                            Vista y a Windows 7, almacenaban los directorios de tablas en la carpeta c:\Archivos
                                            de programa\Digi21.net\Digi3D 2007. Esta ubicación no es válida para sistemas operativos
                                            Windows Vista y Windows 7, pues los usuarios no tienen permisos para realizar modificaciones
                                            en estos directorios (aunque sean administradores), de modo que el instalador de
                                            Digi3D.NET ubica los archivos de tablas (tabla de códigos por defecto, configuración
                                            de teclas por defecto, directorio de símbolos, …) en una de las siguientes carpetas
                                            en función del sistema operativo:</p>
                                        <table class="Tabla">
                                            <tr>
                                                <td>
                                                    Windows XP
                                                </td>
                                                <td>
                                                    C:\Documents and Settings\All Users\Datos de programa\Digi3D3D.NET\
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Windows 7
                                                </td>
                                                <td>
                                                    C:\ProgramData\Digi3D.NET\
                                                </td>
                                            </tr>
                                        </table>
                                        <p>
                                            Es posible que no puedas visualizar estas carpetas con el explorador de archivos,
                                            pero están ahí, así que cuando quieras seleccionar algún archivo de estas carpetas,
                                            teclea la ruta en el explorador de archivos y verás (tras pulsar Intro) que éste
                                            te muestra el contenido de estas carpetas.</p>
                                        <br />
                                    </li>
                                    <li><strong>Archivos de configuración de teclas.</strong>
                                        <p>
                                            Hemos modernizado el formato de los archivos de configuración de teclas (los archivos
                                            teclas.mnu). Este tipo de archivos ahora tienen extensión <i>.keyboard.xml</i> y
                                            tienen muchas mejoras con respecto al formato antiguo. Digi3D.NET no puede importar
                                            tus archivos de tecla antiguos, pero tenemos un programa de consola que te puede
                                            ayudar a importar los archivos de teclas antiguos.</p>
                                        <p>
                                            Puedes descargar esta herramienta de <a href="http://download.digi21.net/TeclasMnuATeclasMnuXml.exe">
                                                download.digi21.net/TeclasMnuATeclasMnuXml.exe</a></p>
                                        <p>
                                            Es un programa de consola y requiere que le pases como parámetro la ruta al archivo
                                            a traducir. El programa creará en el mismo directorio que el archivo, y con el mismo
                                            nombre, pero con extensión .keyboard.xml. Si detecta que alguna tecla no sabe cómo
                                            traducirla, te mostrará un mensaje por la misma consola, para que tengas constancia
                                            de que teclas no se pudieron traducir.</p>
                                        <p>
                                            Te recomendamos que indiques la ruta absoluta del archivo a traducir como por ejemplo:</p>
                                        <div class="Consola">
                                            C:\DIGI\Tablas> TeclasMnuATeclasMnuXml.exe c:\digi\tablas\miteclado.mnu</div>
                                        <p>
                                            Ya que si no la pones absoluta como a continuación:</p>
                                        <div class="Consola">
                                            C:\DIGI\Tablas> TeclasMnuATeclasMnuXml.exe miteclado.mnu</div>
                                        <p>
                                            Te creará el archivo .keyboard.xml en el directorio raíz (en C:\)</p>
                                        <br />
                                    </li>
                                    <li><strong>Tablas de códigos</strong>
                                        <p>
                                            Ahora no es posible cargar múltiples tablas de códigos simultáneamente, por lo tanto
                                            ha desaparecido la antigua opción Herramientas/Tablas.</p>
                                        <p>
                                            Puedes indicar el archivo de tabla de códigos en el campo Tabla de códigos de la
                                            pestaña Archivo de dibujo en el cuadro de diálogo de Nuevo Proyecto.</p>
                                        <p>
                                            <img src="/images/digi.tab.png" /></p>
                                        <br />
                                    </li>
                                    <li><strong>Directorio de símbolos</strong>
                                        <p>
                                            Por mantener uniformidad con el punto anterior, ahora debes indicar el directorio
                                            de símbolos el campo Directorio de células, en la pestaña Archivo de dibujo del
                                            cuadro de diálogo Nuevo Proyecto.</p>
                                        <p>
                                            <img src="/images/directoriocelulas.png" /></p>
                                        <br />
                                    </li>
                                    <li>
                                        <p>
                                            <strong>Ubicación del archivo de esquemas de Von Gruber para orientaciones relativas.</strong></p>
                                        <p>
                                            El instalador de Digi3D.NET no indica la ruta del archivo con esquemas de orientación
                                            relativa, de modo que hay que configurarlo si pensamos realizar orientaciones relativas.
                                        </p>
                                        <p>
                                            Para ello disponemos de la opción Esquemas en la sección Orientación relativa del
                                            cuadro de diálogo de Configuración.</p>
                                        <p>
                                            Indicaremos una de las siguientes rutas en función del sistema operativo:</p>
                                        <table class="Tabla">
                                            <tr>
                                                <td>
                                                    Windows XP
                                                </td>
                                                <td>
                                                    C:\Documents and Settings\All Users\Datos de programa\Digi3D3D.NET\ Esquemas Orientaciones\Esquemas
                                                    de orientación relativa.relscheme.xml
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Windows 7
                                                </td>
                                                <td>
                                                    C:\ProgramData\Digi3D.NET\Esquemas Orientaciones\Esquemas de orientación relativa.relscheme.xml
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <p>
                                            <img src="/images/esquemarelativa.png" width="700" /></p>
                                        <br />
                                    </li>
                                    <li>
                                        <p>
                                            <strong>Ubicación del archivo de medidas de aerotriangulación.</strong></p>
                                        <p>
                                            El instalador de Digi3D.NET no indica la ruta del archivo con esquemas de aerotriangulación
                                            automática, de modo que hay que configurarlo si pensamos realizar medidas de aerotriangulación.
                                        </p>
                                        <p>
                                            Para ello disponemos de la opción Esquemas en la sección Orientación relativa del
                                            cuadro de diálogo de Configuración.</p>
                                        <p>
                                            Indicaremos una de las siguientes rutas en función del sistema operativo:</p>
                                        <table class="Tabla">
                                            <tr>
                                                <td>
                                                    Windows XP
                                                </td>
                                                <td>
                                                    C:\Documents and Settings\All Users\Datos de programa\Digi3D3D.NET\ Esquemas Orientaciones\
                                                    Esquemas de medida de aerotriangulación.aerotrischeme.xml
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Windows 7
                                                </td>
                                                <td>
                                                    C:\ProgramData\Digi3D.NET\Esquemas Orientaciones\Esquemas de medida de aerotriangulación.aerotrischeme.xml
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <p>
                                            <img src="/images/esquemaaero.png" width="700" /></p>
                                        <br />
                                    </li>
                                    <li>
                                        <p>
                                            <strong>Orden DIGI.TAB</strong></p>
                                        <p>
                                            La orden Digi.tab ha desaparecido, pero no te preocupes, ahora dispones de una herramienta
                                            mucho más completa para crear/modificar tablas de códigos.
                                        </p>
                                        <p>
                                            Es un programa externo denominado Editor de tablas de códigos que encontrarás pulsando
                                            el botón de Windows/Todos los programas/Digi21.net/Digi3D.NET/Editor de tablas de
                                            códigos.</p>
                                        <br />
                                        <p>
                                            <img src="/images/programadigitab.png" width="700" /></p>
                                        <br />
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Digi3D 2007 ...</h3>
                            <div>
                                <a href=" http://download.digi21.net/SetupDigi3D2007.msi" class="button">Digi3D 2007
                                </a>
                                <p>
                                    Incluye Digi3D, DigiNG, MDTPC (modelos digitales del terreno por correlación), MDTop
                                    limitado,
                                </p>
                                <p>
                                    Herramientas de topología, Módulo de programación... y opcionalmente Generación
                                    de Ortofotos.
                                </p>
                                <a href=" http://download.digi21.net/SetupDWGDGN2007.msi" class="button">Pluging DGN & DWG
                                </a>
                                <p>
                                    Esta extensión permite a Digi3D trabajar con ficheros DGNv8 y DWG.
                                </p>
                                <a href=" http://download.digi21.net/PluginCalibra.exe" class="button">Pluging Calibra
                                </a>
                                <p>
                                    Esta extensión permite a Digi3D corregir distorsiones de cámaras calibradas con
                                    el software Calibra.
                                </p>
                            </div>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Digi3D 2007 Demo ...</h3>
                            <div>
                                <a href=" http://download.digi21.net/SetupDigi3D2007Demo.msi" class="button">Digi3D
                                    2007 Demo</a>
                                <p>
                                    Versión DEMO de Digi3D, DigiNG, MDTPC (modelos digitales del terreno por correlación),
                                    MDTop limitado,
                                </p>
                                <p>
                                    Herramientas de topología, Módulo de programación... y opcionalmente Generación
                                    de Ortofotos.
                                </p>
                            </div>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Ayuda Digi3D 2007 ...</h3>
                            <div>
                                <a href=" http://download.digi21.net/Digi3D2007.chm" class="button">Ayuda Digi3D 2007
                                </a>
                                <p>
                                    Archivo CHM de la Ayuda de Digi3D 2007
                                </p>
                            </div>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Digi3D 2010 para MGCP ...</h3>
                            <div>
                                <a href=" http://download.digi21.net/SetupDigi3D2010MGCP.msi" class="button">Digi3D
                                    2010 para MGCP</a>
                                <p>
                                    Esta versión requiere una licencia de M.G.C.P. No se ejecutará si no se localiza
                                    la licencia en la llave de protección.
                                </p>
                            </div>
                        </div>
        </div>

        <div id="contentDz">
                                <div class="image-style">
                            <br />
                            <br />
                            <img src="http://i1.ytimg.com/vi/llwozrdB8BE/mqdefault.jpg" alt="Digi3D.NET" />
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Compatibilidad ...</h3>
                            <div>
                                <p>
                                    La instalación de Digi3D.NET es independiente de otras versiones de Digi3D, de modo
                                    que podrá tener instaladas ambas versiones sin ningún problema suponiendo que tenga
                                    instalada alguna versión.</p>
                            </div>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Programa de mejoras ...</h3>
                            <div>
                                <p>
                                    Digi3D.NET incorpora un mecanismo de captura de errores que generan un archivo con
                                    información del error que ayuda a los desarrolladores a localizar la fuente del
                                    error y a solucionar el problema.</p>
                                <p>
                                    Si se localiza un error y el programa finaliza inesperadamente, al volverlo a ejecutar,
                                    este enviará el archivo de error generado a los servidores de Digi21. Puede deshabilitar
                                    esta opción en Herramientas/Configuración/Comunicación con Internet.</p>
                            </div>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Comunicación con el equipo ...</h3>
                            <div>
                                <p>
                                    Hemos realizado un gran esfuerzo en desarrollar estas aplicaciones y nuestra intención
                                    es que no tengan rival en el mercado. Por favor, <strong>comunique cualquier incidencia
                                        o inquietud</strong> al equipo de desarrolladores.</p>
                                <p>
                                    Se tendrán en cuenta y se valorarán todos y cada uno de los mensajes recibidos.</p>
                                <p>
                                    Para ello se ha habilitado un cuadro de diálogo en el menú <i>Ayuda/Enviar retroalimentación...</i>
                                    que le permitirá comunicarse con el equipo de desarrollo.</p>
                                <p>
                                    Por favor, sea claro en la comunicación, si tiene alguna idea, o si ha descubierto
                                    algún error, comuníquelo de la forma más extensa posible para que los desarrolladores
                                    tengan la máxima información posible.</p>
                            </div>
                        </div>
                        <div class="post" data-collapse="accordion">
                            <h3>
                                Ejemplo de Datos ...</h3>
                            <div>
                                <div>
                                    <a href=" http://download.digi21.net/Bronchales.rar" class="button">Ejemplo de Bronchales</a>
                                    <p>
                                        Dos modelos en tonos de gris de la zona de Bronchales en Teruel. Estos dos modelos
                                        son los que hemos utilizado históricamente par dar los cursos de Digi3D. El archivo
                                        .rar incluye un archivo de cámara, las tres imágenes así como un archivo de puntos
                                        de apoyo.</p>
                                </div>
                                <div>
                                    <a href=" http://download.digi21.net/Jacaranda.rar" class="button">Ejemplo de Jacaranda
                                    </a>
                                    <p>
                                        Primer modelo de Vexcel Ultra CamD cargado con Digi3D 2007. El archivo incluye las
                                        dos fotos P1_1002_Hi-RGB y P1_1003_Hi-RGB, la orientación relativa y absoluta. Esta
                                        cámara tiene un tamaño de pixel de 9 micras y la focal es de 101.400 mm.</p>
                                </div>
                                <div>
                                    <a href=" http://download.digi21.net/pumarin.rar" class="button">Ejemplo de Pumarin
                                    </a>
                                    <p>
                                        Primer modelo de cámara digital de Zeiss DMC cargado con Digi3D 2007. El archivo
                                        incluye las dos fotos 169 y 168, un archivo de cámara, y las orientaciones relativa
                                        y absoluta. Esta cámara tiene un sensor con un tamaño de pixel de 12 micras y una
                                        focal de 120mm.</p>
                                </div>
                                <div>
                                    <a href=" http://download.digi21.net/Capilla.rar" class="button">Ejemplo de Capilla
                                    </a>
                                    <p>
                                        Modelo de una capilla de Granada. Fotogrametría Terrestre</p>
                                </div>
                            </div>
                        </div>
        </div>
    </body>
</html>
