@{
  Layout= "~/Shared/_Layout.cshtml";
    Page.Title = "Bienvenido a Digi3D.NET";
    Page.head = "novedades Edición II";
    Page.keywords = "GIS SIG Fotogrametría Topografía Cartografía Ortofoto DTM MDT Aerotriangulación";
    Page.description="Digi21.net software para GIS SIG topografía cartografía y fotogrametría digital";    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        
    </head>
    <body>
 </br>

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/1AFpPF2uxpU/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=1AFpPF2uxpU"> <p class="subtitle">Controles de calidad en tiempo real y con voz sintética</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a comprobar las posibilidades que tiene Digi3D 2011 para realizar controles de calidad en tiempo real.</p>
                                            
                    
                    </div>
      </div> 
		
		

    <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                           <object id="Object3" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/8d377beb-94ba-4890-8597-6af6ddbeb62a/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/8d377beb-94ba-4890-8597-6af6ddbeb62a/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/8d377beb-94ba-4890-8597-6af6ddbeb62a/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/8d377beb-94ba-4890-8597-6af6ddbeb62a/Puntos%20de%20vista.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/8d377beb-94ba-4890-8597-6af6ddbeb62a/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/8d377beb-94ba-4890-8597-6af6ddbeb62a/embed"
                                height="180" width="320"></iframe>
                        </object>


                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=36"> <p class="subtitle"> Puntos de vista en la ventana de dibujo de Digi3D </p></a>
                    <div class="ContenidoIzquierda">
                            
                       <p>
                                Digi3D incorpora dos barras de herramientas que nos van a permitir cambiar
                                el punto de vista en la ventana de dibujo. La primera barra de herramientas, denominada
                                puntos de vista nos permitirá indicar si queremos visualizar el archivo de dibujo
                                desde un punto superior, inferior, izquierdo, derecho, …
                            </p>
                            <p>
                                La segunda barra de herramientas, denominada rotaciones de la cámara nos va a permitir
                                rotar el archivo de dibujo 0, 90, 180, 270 grados, obtener la...
                            </p>     

                       
                    </div>
                </div>

  
  
  <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                         <img  width="320" height="180" src="http://usandodigi3d.digi21.net/wp-content/uploads/Localizadas-dos-soluciones.png" />
                        <br /> <iframe class="tscplayer_inline embeddedObject" name="tsc_player" scrolling="no" frameborder="0" type="text/html" style="overflow:hidden;" src="http://www.screencast.com/users/Digi21/folders/Default/media/48580362-f7e3-4d76-b0d4-494bb45cbadb/embed" height="180" width="320" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                     </div>

                    <a href="http://usandodigi3d.digi21.net/?p=299"> <p class="subtitle"> Mejoras en las órdenes MOD y MOD_Z con líneas cerradas </p></a>
                    <div class="ContenidoIzquierda">
                        <p> DigiNG.NET ha mejorado significativamente el comportamiento de las órdenes MOD y MOD_Z cuando modificamos líneas cerradas y polígonos.</p>
                        <p>Si modificamos una línea cerrada encontramos dos soluciones. En versiones anteriores de Digi3D, el programa modificaba la línea sin consultar al usuario por cual de las dos soluciones optar, y además si el área afectada en la modificación pasaba por el origen de la línea cerrada, el comportamiento era imprevisible...</p>
                        <p> En versiones anteriores de Digi3D, el programa modificaba la línea sin consultar al usuario por cual de las dos soluciones optar, y además si el área afectada en la modificación pasaba por el origen de la línea cerrada, el comportamiento era imprevisible.</p>
                        <p>DigiNG.NET ha mejorado mucho este comportamiento, pues si detecta que el usuario está modificando una línea cerrada, antes de modificar la línea muestra un cuadro de diálogo titulado Localizadas dos soluciones en el que se le solicita al usuario que seleccione la solución que le interesa.</p>
                        <p>En la parte izquierda del cuadro de diálogo se mostrará la solución con mayor area y en la parte derecha la solución con menor area. La opción seleccionada por defecto en este cuadro de diálogo será siempre la opción con mayor area.</p>
                    </div>
            </div>

   
   
 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                    <object id="Object19" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/FirstFrame.jpg&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=true&showstartscreen=true&tocdoc=float&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/Mostrar%20paso%20de%20curvas.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Nuevas%20funciones%20Digi3D%202011/media/0d3098fd-a5d6-4ce7-8129-e7c143a6e39f/embed"
                                height="180" width="320"></iframe>
                        </object>     



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=90"> <p class="subtitle"> Mostrando en tiempo real por donde pasar las curvas de nivel </p></a>
                    <div class="ContenidoIzquierda">
                       <p>Digi3D incorpora una nueva funcionalidad que nos va a ayudar a incrementar la producción a la hora de digitalizar curvas de nivel.</p>
                            <p>Consiste en una nueva orden que, al activarse, muestra tanto en la ventana fotogramétrica como en la ventana de dibujo una animación indicando por qué parte de una determinada línea debe cruzarse la...</p>
                           
                           

                       
                    </div>
                </div>

    

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                    <object id="Object20" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Ordenes/media/5aea3924-68d0-4f52-bcf7-728a1464c7e0/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Ordenes/media/5aea3924-68d0-4f52-bcf7-728a1464c7e0/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Ordenes/media/5aea3924-68d0-4f52-bcf7-728a1464c7e0/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Ordenes/media/5aea3924-68d0-4f52-bcf7-728a1464c7e0/Cortar%20y%20Borrar.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Ordenes/media/5aea3924-68d0-4f52-bcf7-728a1464c7e0/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Ordenes/media/5aea3924-68d0-4f52-bcf7-728a1464c7e0/embed"
                                height="180" width="320"></iframe>
                        </object>    



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=21"> <p class="subtitle"> Cortar y borrar en un paso </p></a>
                    <div class="ContenidoIzquierda">
                       <p>Una tarea muy común en edición consiste en cortar una polilínea existente y eliminar uno de los dos extremos.</p>
                            <p>Hasta la versión realizar esta tarea requería ejecutar dos órdenes: CORTAR_E y BORRA_E...</p>       
                           

                       
                    </div>
                </div>

    

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                         <object id="Object21" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Ordenes/media/0f2e5e73-f075-4bb6-b21b-449dbb1daca6/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Ordenes/media/0f2e5e73-f075-4bb6-b21b-449dbb1daca6/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Ordenes/media/0f2e5e73-f075-4bb6-b21b-449dbb1daca6/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Ordenes/media/0f2e5e73-f075-4bb6-b21b-449dbb1daca6/trim_lado.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Ordenes/media/0f2e5e73-f075-4bb6-b21b-449dbb1daca6/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Ordenes/media/0f2e5e73-f075-4bb6-b21b-449dbb1daca6/embed"
                                height="320" width="180"></iframe>
                        </object> 



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=8"> <p class="subtitle"> Trim a un lado </p></a>
                    <div class="ContenidoIzquierda">
                            
                     <p>Digi3D incorpora una orden que nos va a permitir cortar todas las entidades que se cruzan con una línea límite simultáneamente, eliminando las partes de estas líneas que estén a un lado de la línea límite.</p>
                            <p>Esta orden, denominada TRIM_LADO y que podemos localizar en el menú Editar/Polilíneas/Recortar múltiples líneas en el cruce con otra línea (por un lado) nos va a ahorrar mucho tiempo si pretendemos recortar...</p>
                        </a>      

                       
                    </div>
                </div>

    

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                        <!-- copy and paste. Modify height and width if desired. -->
                      <object id="Object22" width="320" height="180" type="application/x-shockwave-flash"
                            data="http://content.screencast.com/users/Digi21/folders/Ordenes/media/a62864cd-f116-4378-a816-8b4e68b2766d/scplayer.swf">
                            <param name="movie" value="http://content.screencast.com/users/Digi21/folders/Ordenes/media/a62864cd-f116-4378-a816-8b4e68b2766d/scplayer.swf" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="flashVars" value="thumb=http://content.screencast.com/users/Digi21/folders/Ordenes/media/a62864cd-f116-4378-a816-8b4e68b2766d/FirstFrame.png&containerwidth=1280&containerheight=720&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/Digi21/folders/Ordenes/media/a62864cd-f116-4378-a816-8b4e68b2766d/Trim_m.mp4&blurover=false" />
                            <param name="allowFullScreen" value="true" />
                            <param name="scale" value="showall" />
                            <param name="allowScriptAccess" value="always" />
                            <param name="base" value="http://content.screencast.com/users/Digi21/folders/Ordenes/media/a62864cd-f116-4378-a816-8b4e68b2766d/" />
                            <iframe type="text/html" frameborder="0" scrolling="no" style="overflow: hidden;"
                                src="http://www.screencast.com/users/Digi21/folders/Ordenes/media/a62864cd-f116-4378-a816-8b4e68b2766d/embed"
                                height="180" width="320"></iframe>
                        </object>  



                    </div>

                    <a href="http://usandodigi3d.digi21.net/?p=13"> <p class="subtitle"> Trim múltiple </p></a>
                    <div class="ContenidoIzquierda">
                       <p>Digi3D incorpora una orden que nos va a permitir recortar múltiples entidades por una línea de límite.</p>
                            <p>Esta orden, denominada TRIM_M y que podemos localizar en el menú Editar/Polilíneas/Recortar múltiples líneas en el cruce con otra línea nos va a ahorrar mucho tiempo si pretendemos recortar múltiples entidades que...</p>
                                                

                       
                    </div>
                </div>
 
 

    <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/qo_dWXooqTE/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=qo_dWXooqTE"> <p class="subtitle">Rotaciones de cámara en Digi3D </p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo aprenderemos a utilizar el nuevo menú de rotaciones de ...</p>
                          
                    
                    </div>
      </div>

   <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i1.ytimg.com/vi/xEzTodvktxo/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=qo_dWXooqTE"> <p class="subtitle">Integración de etiquetas en el interfaz de usuario de Digi3D</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a aprender a crear etiquetas en el programa Digi.tab...</p>
                          
                    
                    </div>
      </div>

  <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i1.ytimg.com/vi/x_7JNcOwe2s/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=qo_dWXooqTE"> <p class="subtitle">Splines cúbicas en Digi3D</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a aprender a utilizar la orden de spline cúbica en Digi3D...</p>
                          
                    
                    </div>
      </div>   

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i1.ytimg.com/vi/llwozrdB8BE/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=qo_dWXooqTE"> <p class="subtitle">Menú Topología en Digi3D</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a aprender a utilizar el menú topología de Digi3D...</p>
                          
                    
                    </div>
      </div> 
      
<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/qZVQEAiJGHI/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=qZVQEAiJGHI"> <p class="subtitle">Extrayendo centroides de polígonos y polilíneas cerradas</p></a>
                    <div class="ContenidoIzquierda">
                       <p>... dos nuevas órdenes que se han incorporado a Digi3D...</p>
                          
                    
                    </div>
      </div> 

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/AtvNLcbUsMk/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=AtvNLcbUsMk"> <p class="subtitle">Menú de inundaciones</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a aprender a utilizar las órdenes de inundaciones en Digi3D...</p>
                          
                    
                    </div>
      </div> 

      
 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i3.ytimg.com/vi/vSSYrFjl6EM/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=vSSYrFjl6EM"> <p class="subtitle">Rellenos y transparencias en Digi3D</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a aprender a configurar los parámetros de visualizaci...</p>
                          
                    
                    </div>
      </div>  

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/AMYpIzjaAG8/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=AMYpIzjaAG8"> <p class="subtitle">Configurando el factor de zoom en Digi3D</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En esta demostración comprobaremos cómo configurar el factor de zoom..</p>
                          
                    
                    </div>
      </div>  

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i1.ytimg.com/vi/T4_3GdI4Pa8/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=T4_3GdI4Pa8"> <p class="subtitle">Doble clic finaliza líneas en Digi3D</p></a>
                    <div class="ContenidoIzquierda">
                       <p>Configuración de Digi3D para finalizar línes al hacer doble click..</p>
                          
                    
                    </div>
      </div>  

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i1.ytimg.com/vi/XzH7Y6-9x1A/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=XzH7Y6-9x1A"> <p class="subtitle">Arco Tangente</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a descubrir la nueva orden de Digi3D para dibujar arcos tangentes a segmentos anteriores..</p>
                          
                    
                    </div>
      </div>  

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/Ir_HfnwbneI/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=Ir_HfnwbneI"> <p class="subtitle">Panel de búsqueda</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo aprenderás a utilizar y configurar el nuevo panel de búsqueda de Digi3D</p>
                       <p>que te permite localizar entidades por cualquier criterio.</p>
                        <p>    El resultado de estas búsquedas lo puedes visualizar o en el panel "Resultados de la búsqueda 1",</p>
                        <p>    en el panel "Resultados de la búsqueda 2" o ...</p>
                          
                    
                    </div>
      </div> 

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i3.ytimg.com/vi/zj0qSXdM5R8/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=zj0qSXdM5R8"> <p class="subtitle">Continuar polilínea</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a conocer una nueva orden en Digi3D 2011 que nos permite continuar polilíneas existentes.</p>
                     
                    
                    </div>
      </div> 

<div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i1.ytimg.com/vi/8paeHrm6UAg/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=8paeHrm6UAg"> <p class="subtitle">Mostrando ayuda dinámica al cambiar de código</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a aprender a utilizar la herramienta Kompozer junto con Digi.tab para mostrar ayuda en tiempo real al usuario cuando cambia de código.</p>
                     
                    
                    </div>
      </div>

 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i2.ytimg.com/vi/qCTL_UmBxbA/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=qCTL_UmBxbA"> <p class="subtitle">Asignando múltiples órdenes a una pulsación de tecla</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a comprobar cómo la orden Tecla nos permite asignar múltiples órdenes a una pulsación de tecla.</p>
                     
                    
                    </div>
      </div> 
      
 <div class="Novedad">
                   
                    <div class="ContenidoDerecha">
                       <img  width="320" height="180" src="http://i3.ytimg.com/vi/6DnkrXXCk34/mqdefault.jpg" />
                      
                   </div>
                    
                    <a href="http://www.youtube.com/watch?v=6DnkrXXCk34"> <p class="subtitle">Ordenando códigos en una tabla de códigos</p></a>
                    <div class="ContenidoIzquierda">
                       <p>En este vídeo vamos a aprender a ordenar códigos automáticamente con el editor de códigos..</p>
                     
                    
                    </div>
      </div>       
     
    </body>
</html>
